.chart
  position: relative
  font-family: 'Circe'
  font-size: 14px
  svg
    display: inline-block
    width: 99%
    height: 500px
  .axis
    text
      fill: #7e949c
      font-size: 14px
    line
      fill: none
      stroke: #7e949c
      stroke-width: .2px
  .cp-spinner
    position: absolute
    left: 50%
    top: 50%
    margin-left: -23px
    margin-top: -23px
    color: #e4c158
  .rate
    position: relative
    z-index: 4
  .currency-tooltip
    display: none
    position: absolute
    padding: 5px 0
    text-align: center
    width: 115px
    border-radius: 3px
    background: #e4c158
    z-index: 1000
    .dealing-title
      color: #fff
      font-size: 12px
    .dealing-rate
      font-size: 13px
      color: #fff
      font-weight: bold
      position: relative
  .currency-line
    stroke-width: 1px
    stroke: #e4c158
    display: none
    z-index: 3

@media only screen and (max-width: 960px)
  .chart
    svg
      height: 450px

@media only screen and (max-width: 480px)
  .chart
    svg
      height: 320px