.cp-spinner
  position: absolute
  left: 50%
  top: 50%
  margin-left: -23px
  margin-top: -23px
  border-top: solid 6px #e4c158
  &::before
    border-left: solid 6px #e4c158
  &::after
    border-right: solid 6px #e4c158

.menu
  ul
    li
      margin-right: 45px

.finances-header
  .ballance
    &.red
      color: #f38282
  .ballance
    &.green
      color: #b4d482

.finances
  .status
    display: inline-block
    vertical-align: middle

.documents__item
  .documents__item__status
    &.approved
      color: #b4d482
      padding-left: 38px
      background-image: url(../images/ico-16.png)

.main .balance-left
  color: #fff

.main-page__center
  .btn
    &.auth-form-submit
      padding-left: 0
      padding-right: 0

.one-people
  .one-people__name
    height: 40px
    overflow: hidden
  .one-people__info
    word-break: break-all

input[type="radio"] + label
  min-height: 49px

.office-page
  .footer-menu
    li
      display: block
      margin-bottom: 10px
      a
        display: initial

.modal-2fa
  .input-field
    input
      padding: 0 25px 0 25px

.resultsum
  line-height: 60px
  align-items: normal

.btn, .btn2
  &.btn-none
    border: none!important
    background-color: transparent
    box-shadow: none
    padding: 21px 15px 20px 15px
    &.green
      color: #b4d482
    &.red
      color: #f38282
    &.blue
      color: #7ca6d1
    &:hover
      color: #353e41

@media only screen and (max-width: 1300px)
  .office-page
    header
      .dropdown-item
        white-space: initial

@media only screen and (max-width: 1290px)
  .office-page
    footer
      .row-center__inner
        display: block
        text-align: center
        .copyright
          display: block
          margin-bottom: 15px
        .for-ref-link
          display: block
          margin-bottom: 15px