.margin-bottom-25
  margin-bottom: 25px

.hide, .hidden
  display: none

.approve
  color: #6c9d3c

.verification-error
  .verification-error-block
    opacity: 0.5

.push-right
  float: right

.push-left
  float: left

.verification-error-block
  position: relative
  
.blocked-form
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  background: rgba(255, 255, 255, 0.3)
  z-index: 9999