.home-page
  .flag-icon
    display: block

  .menu
    position: relative

  footer
    display: block

    .copyright
      text-align: left

    .footer-links2
      .footer-social-pages-menu
        ul
          margin-bottom: 0

  .btn
    padding: 0 15px 14px 15px
    &.btn-text
      &:hover
        background: none
        color: #29d9bf
    &.btn-burger
      padding-top: 15px
      &:hover
        background: none

  .landing-calculator
    margin-top: 150px

    .calculator__inner
      padding: 0 85px 0 70px

    .calculator__coll
      vertical-align: middle

      &.calculator__left
        display: flex
        padding-right: 50px

      &.calculator__right
        padding-top: 45px
        padding-bottom: 45px
        background-color: #E2E2E2

    .calculator-text-block
      display: flex
      align-self: center
      flex-flow: column
      width: 100%
      p
        display: flex
      .section-title
        margin-bottom: 35px
      .calculator-text
        font-size: 20px
        line-height: 25px
        letter-spacing: 1.05px
        margin-bottom: 35px
        &.calculator-text-2
          margin-bottom: 0

    .calculator-block
      .section-title
        font-size: 21px
      .label-text
        font-size: 17px
        width: 200px
        flex: none
        padding-right: 0
      .value-text
        font-size: 21px
      .value-text-percentage
        font-size: 27px
      .vertical-text
        font-size: 12px
        transform: rotate(-90deg)
        position: absolute
        top: 61px
        right: -20px
        width: 90px
        color: #5a5a5a
        z-index: 1
      .label-text-difference
        color: #5a5a5a
      [type="range"]  
        opacity: 0

      .calculator-block-row
        position: relative
        padding-top: 15px
        padding-bottom: 15px
        .row
          line-height: 45px

      .calculator-block-reinvest
        background-color: #b9b9b9
        .vertical-text
          top: 50px
          
    .slider-block    
      width: 80%
      margin: 95px auto 20px auto
      text-align: center
      .slider-value
        font-weight: bold
        margin-bottom: 30px
        font-size: 45px
        color: #29d9bf
    
    .rangeslider
      box-shadow: none
      border-radius: 0
      height: 5px
      background-color: #b9b9b9
      .rangeslider__handle
        top: -20px
        width: 45px
        height: 45px
        background: #29d9bf
        background-image: none
        &:after
          display: none
    .rangeslider__fill
      display: none

@media only screen and (max-width : 1680px)
  .home-page
    .landing-calculator   
      .calculator-block 
        .label-text
          width: 145px

@media only screen and (max-width : 1290px)
  .home-page
    .landing-calculator   
      .calculator-block 
        .section-title
          font-size: 19px
        .value-text  
          font-size: 20px
        .value-text-percentage
          font-size: 25px  
        .vertical-text
          right: -30px  
          
@media only screen and (max-width : 1220px)
  .home-page
    .landing-calculator   
      .calculator-block 
        .value-text  
          font-size: 19px
        .value-text-percentage
          font-size: 24px  
          
@media only screen and (max-width : 1170px)
  .home-page
    .landing-calculator   
      .calculator-block 
        .value-text  
          font-size: 17px
        .value-text-percentage
          font-size: 23px  
             
@media only screen and (max-width : 1100px)
  .home-page
    .landing-calculator
      margin-top: 100px

      .calculator__inner
        padding: 75px 0 60px 0
        background-color: #E2E2E2

      .calculator__coll
        width: 100%
        max-width: 100%
        flex: initial
        padding-right: 0

        &.calculator__left
          padding: 0 80px
          margin-bottom: 50px

        &.calculator__right
          padding: 0 80px

      .calculator-block
        .calculator-block-coll
          width: 100%
          max-width: 100%
          flex: initial
          
        .label-text
          width: 200px
        .value-text  
          font-size: 19px  
        .vertical-text
          right: -75px  
          
        .calculator-block-reinvest
          position: relative
          &:before,
          &:after
            content: ''
            position: absolute
            height: 100%
            width: 200px
            top: 0
            left: -200px
            background-color: #b9b9b9
          &:after
            left: auto
            right: -200px 
            
      .slider-block      
        margin-top: 0
        width: 90%

@media only screen and (max-width : 900px)
  .home-page
    .landing-calculator
      .calculator__coll
        &.calculator__left,
        &.calculator__right
          padding-left: 0 6.5rem

      .calculator-text-block
        .section-title
          font-size: 2.375rem
          line-height: 1.875rem
          letter-spacing: .11875rem
          margin-bottom: 3.75rem

@media only screen and (max-width : 480px)
  .home-page
    .landing-calculator
      .calculator__coll
        &.calculator__left,
        &.calculator__right
          padding: 0 7.5rem
          
      .calculator-block
        .label-text
          with: 145px
          font-size: 16px
        .value-text
          font-size: 18px
        .value-text-percentage  
          font-size: 2.8rem

      .slider-block
        .section-title
          margin-bottom: 15px    
          
@media only screen and (max-width : 420px)
  .home-page
    .landing-calculator
      .currency-title
        display: none
        
      .calculator-block  
        .vertical-text
          right: -60px
          
@media only screen and (max-width : 370px)
  .home-page
    .landing-calculator
      .calculator-block  
        .vertical-text
          right: -55px