.modal
  .modal-footer + .modal-footer
    margin-top: -50px
    padding-top: 0
    text-align: center

  input[type="checkbox"] + label span
    display: initial

  .modal-footer
    button
      width: 40%
      color: #fff
      &:hover, &:active
        background-color: #353e41
        color: #fff

  .selectbox
    ul.dropdown
      max-height: 195px

@media only screen and (max-width : 767px)
  .modal
    .modal-footer + .modal-footer
      margin-top: -45px
      padding-bottom: 30px

@media only screen and (max-width : 576px)
  .modal
    .modal-footer + .modal-footer
      margin-top: -30px
      padding-bottom: 30px