.content-block__header
  .title-block
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    min-width: 400px
    .filter-title
      display: inline-block
      margin-top: -3px
      margin-right: 15px

  &.binary-tree-navigation
    .title-block
      min-width: 400px
    .binary-volume-filter-block
      text-align: left
      width: 250px
      .forinput
        display: inline-block
        margin-bottom: 25px
        width: 170px
    .buttons
      margin-top: -26px

  &.referrals
    .title-block
      min-width: 500px
    .referrals-filter-block
      margin-left: 25px
      .forinput
        display: inline-block
        margin-bottom: 25px
        width: 100%
    .referrals-filter-generation
      width: 270px
    .referrals-filter-contracts
      width: 400px
    .buttons
      margin-top: -26px
      .forinput
        margin-bottom: 0
        input
          padding-left: 15px

.binary-tree
  .volume-item
    display: none

  &[data-volume='total-volume']
    .total-volume-item
      display: block

  &[data-volume='bonus-volume']
    .bonus-volume-item
      display: block

@media only screen and (max-width: 1530px)
  .content-block__header
    &.referrals
      display: block
      text-align: center
      .buttons
        display: inline-block
        margin-top: 0
        margin-bottom: 20px

@media only screen and (max-width: 1204px)
  .content-block__header
    .title-block
      display: block
      min-width: initial
      .binary-volume-filter-block
        width: initial
        text-align: initial
      .referrals-filter-block
        display: inline-block
        margin-left: 0
    &.referrals
      .title-block
        display: block
        min-width: initial

@media only screen and (max-width: 500px)
  .content-block__header
    &.referrals
      .title-block
        min-width: initial
      .referrals-filter-block
        width: 100%
      .buttons
        width: 100%
        margin-bottom: 0