.footer-social-pages-menu
  ul
    text-align: center
    li
      list-style-type: none
      display: inline-block
      margin: 0 10px
      width: 33px

@media only screen and (max-width: 992px)
  .footer-social-pages-menu
    ul
      margin-bottom: 30px