.videos-list
  .video-item
    cursor: pointer

.video-modal
  iframe
    opacity: 0
    transition: all .5s
    width: 100%
    height: 373px

@media only screen and (max-width: 640px)
  .video-modal
    iframe
      height: 294px

@media only screen and (max-width: 480px)
  .video-modal
    iframe
      height: 240px

@media only screen and (max-width: 400px)
  .video-modal
    iframe
      height: 175px