@import "font-awesome.min.css";

html {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Circe';
    position: relative;
    height: 100%;
}

.clr {
    clear: both;
}

.office-page img {
    max-width: 100%;
}

h1 {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 32px 0;
    padding: 0 0 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    color: #353e41;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    color: #e4c158;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h4 {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
    letter-spacing: 2px;
}

h5 {
    color: #e4c158;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 32px 0;
    padding: 0 0 0 0;
    letter-spacing: 2px;
}

p {
    color: #353e41;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 21px 0;
    padding: 0 0 0 0;
}

b {
    font-weight: bold;
}

strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.office-page ol {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style-position: inside;
}

.office-page ol li {
    font-size: 16px;
    line-height: 21px;
    margin: 0 0 21px 0;
    padding: 0 0 0 0;
}

.office-page ul {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    list-style: none;
}

.office-page ul li {
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 21px 0;
    padding: 0 0 0 0;
}

.bold {
    font-weight: bold;
}

.office-page h1.error, h2.error, h3.error, h4.error, h5.error, p.error {
    color: #ff4040;
}

.md-show {
    display: none;
}

.yelow {
    color: #e4c158;
}

.bordlink a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: inherit;
    position: relative;
}

.bordlink a:hover {
    text-decoration: none;
    color: inherit;
}

.bordlink a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    transition: 0.3s;
    border-bottom: 1px solid #353e41;
}

.bordlink a:hover::after {
    width: 0;
    transition: 0.3s;
}

.attention {
    color: #ff4040;
}

.attention a::after {
    border-color: #ff4040;
}

.table {
    display: table;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.tablerow {
    position: relative;
    display: table-row;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.tablecel {
    position: relative;
    display: table-cell;
    vertical-align: top;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.row.inlbl {
    font-size: 0px;
    text-align: center;
}

.row.inlbl > div {
    float: none;
    display: inline-block;
    vertical-align: top;
}

hr {
    border: none;
    border-bottom: 1px solid #c2c5c6;
    height: 0px;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
}

/*-----loader-----*/
.page-loader {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 100000;
    /*background-image: url(../images/logo-2.png);*/
    background-size: auto 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.loader {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -60px 0 0 -60px;
    font-size: 10px;
    text-indent: -12345px;
    z-index: 100001;
    border-top: 1px solid rgba(44, 44, 43, 0.08);
    border-right: 1px solid rgba(44, 44, 43, 0.08);
    border-bottom: 1px solid rgba(44, 44, 43, 0.08);
    border-left: 1px solid rgba(44, 44, 43, 0.5);

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-animation: spinner 700ms infinite linear;
    -moz-animation: spinner 700ms infinite linear;
    -ms-animation: spinner 700ms infinite linear;
    -o-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;

}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.preloader_hide {
    opacity: 0;
    position: relative;
}

/*-----loader-----*/

.page-grid {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
}

.page-grid-in {
    display: table;
    height: 100%;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.my-row {
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0;
    box-sizing: border-box;
    width: 100%;
    display: table;
    height: 100%;
}

.my-row::after {
    clear: both;
    display: block;
    position: relative;
    content: "";
}

.row-left {
    display: table-cell;
    vertical-align: top;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 15px 0 15px;
    width: 377px;
    box-sizing: border-box;
    background-color: #353e41;
}

.row-center {
    display: table-cell;
    vertical-align: top;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 80px;
}

.row-right {
    display: table-cell;
    vertical-align: top;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 80px 0 80px;
    width: 348px;
    box-sizing: border-box;
}

.row-center1 {
    padding: 0 80px 0 80px;
}

/*-----header-----*/
.office-page header {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    display: table-row;
}

.office-page header > * {
    display: table-cell;
    height: 140px;
}

.office-page header .row-left {
    vertical-align: middle;
}

.office-page header .row-center {
    vertical-align: bottom;
    padding-bottom: 22px;
}

.office-page header .row-right {
    vertical-align: bottom;
    padding-bottom: 4px;
}

.forlogo {
    position: relative;
    margin: 0 0px 0 0;
    padding: 0 0 0 0;
    text-align: center;
}

.forlogo .logo {
    text-decoration: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    vertical-align: top;
}

.forlogo .logo:hover {
    text-decoration: none;
}

.forlogo .logo .text {
    color: #e4c158;
    font-size: 23px;
    line-height: 28px;
    font-weight: 200;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.forlogo .logo .text strong {
    font-weight: 800;
}

.forlogo .logo img {
    display: block;
    margin: 0 auto;
    margin-bottom: 4px;
}

.header-center {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-center__right {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.menu {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.menu ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    list-style: none;
    font-size: 0px;
}

.menu ul li {
    position: relative;
    margin: 0 75px 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 32px;
    color: #353e41;
}

.menu ul li:last-child {
    margin-right: 0px;
}

.menu ul li a {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #353e41;
    text-decoration: none;
    position: relative;
}

.menu ul li a:hover, .menu ul li a.active, .menu ul li.active a {
    text-decoration: none;
}

.menu ul li a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    width: 0px;
    transition: 0.3s;
    border-bottom: 1px solid #e4c158;
}

.menu ul li a:hover::after, .menu ul li.active a::after, .menu ul li a.active::after {
    width: 100%;
    transition: 0.3s;
}

.menu-button {
    position: relative;
    display: block;
    float: left;
    padding: 0 0 0 0;
    margin: 0 0 0 0px;
    width: 25px;
    height: 28px;
    z-index: 1;
    transition: 0.3s;
    display: none;
}

.menu-button span {
}

.menu-button::before {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    top: 7px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 3px;
    background-color: #e4c158;
    width: 100%;
    transition: 0.3s;
}

.menu-button::after {
    display: block;
    position: absolute;
    content: "";
    left: 0px;
    bottom: 7px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 3px;
    background-color: #e4c158;
    width: 100%;
    transition: 0.3s;
}

.menu-button:hover::before {
    background-color: #e4c158;
    transition: 0.3s;
}

.menu-button:hover::after {
    background-color: #e4c158;
    transition: 0.3s;
}

.menu-button.open {
    transition: 0.3s;
}

.menu-button.open span {
    display: none;
}

.menu-button.open::before {
    background-color: #e4c158;
    transition: 0.3s;
    margin-top: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menu-button.open::after {
    background-color: #e4c158;
    transition: 0.3s;
    margin-bottom: 5px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.language {
    position: relative;
    margin: 0 35px 0 0;
    padding: 0 0 0 0;
    line-height: 0px;
    font-size: 20px;
}

.language img {
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    width: 28px;
    height: 19px;
}

.language .dropdown-toggle {
    display: block;
}

.language .dropdown-menu {
    min-width: 0px;
    width: auto;
    text-align: center;
}

.office-page footer .language {
    display: none;
    margin: 0 0 0 0;
}

.dropdown-toggle::after {
    display: none;
}

.office-page header .dropdown-menu {
    left: -15px !important;
    right: -15px;
    box-shadow: 0px 5px 38px rgba(1, 1, 1, 0.13);
    border: none;
    border-radius: 0px;
    padding: 0 0 0 0;
}

.office-page header .dropdown-item {
    color: #242424;
    font-size: 16px;
    font-weight: 300;
    padding: 15px 35px 15px 35px;
}

.office-page header .dropdown-item:hover {
    background-color: #e3e3e3;
}

.office-page header .dropdown-item {
    padding: 10px 10px 10px 10px;
}

.office-page header .account {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #353e41;
    font-size: 18px;
    line-height: 32px;
}

.office-page header .account img {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.office-page header .account .dropdown-toggle {
    display: block;
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
}

.office-page header .account .dropdown-toggle span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    font-weight: 300;
}

.office-page header .account .dropdown-toggle span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    width: 0px;
    transition: 0.3s;
    border-bottom: 1px solid #c2c5c6;
}

.office-page header .account .dropdown-toggle:hover span::after {
    width: 100%;
    transition: 0.3s;
}

.office-page header .account .dropdown-menu {
    left: auto;
    right: 0;
}

.run-bot {
    display: block;
    border-radius: 5px;
    background-color: #353e41;
    margin: 0 0 0 0;
    padding: 23px 32px 21px 64px;
    position: relative;
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ad9851;
    text-decoration: none; /*background-image: url(../images/ico-9.png); background-position: 20px; background-repeat: no-repeat;*/
    color: #e4c158;
}

.run-bot:hover {
    background-color: #ad9851;
    color: #353e41;
    text-decoration: none; /*background-image: url(../images/ico-9-h.png);*/
    background-color: #e4c158;
}

.run-bot::before {
    display: block;
    position: absolute;
    content: "";
    left: 21px;
    top: 34px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 14px;
    height: 14px;
    background-image: url(../images/ico-9-1.png);
    background-repeat: no-repeat;
}

.run-bot:hover::before {
    background-image: url(../images/ico-9-1h.png);
}

.run-bot::after {
    display: block;
    position: absolute;
    content: "";
    left: 31px;
    top: 22px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 18px;
    height: 18px;
    background-image: url(../images/ico-9-2.png);
    background-repeat: no-repeat;
}

.run-bot:hover::after {
    background-image: url(../images/ico-9-2h.png);
}

.run-bot.spin::before {
    -webkit-animation: spin 1500ms infinite linear;
    -moz-animation: spin 1500ms infinite linear;
    -ms-animation: spin 1500ms infinite linear;
    -o-animation: spin 1500ms infinite linear;
    animation: spin 1500ms infinite linear;
}

.run-bot.spin::after {
    -webkit-animation: spin-rev 2500ms infinite linear;
    -moz-animation: spin-rev 2500ms infinite linear;
    -ms-animation: spin-rev 2500ms infinite linear;
    -o-animation: spin-rev 2500ms infinite linear;
    animation: spin-rev 2500ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-rev {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-moz-keyframes spin-rev {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-o-keyframes spin-rev {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes spin-rev {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

/*-----header-----*/

/*-----footer-----*/
.office-page footer {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    display: table-row;
}

.office-page footer > * {
    display: table-cell;
    height: 150px;
}

.office-page footer .support {
    text-align: center;
    margin: 0 0 0 0;
    padding: 4px 0 0 0;
}

.office-page footer .support .title {
    color: #e4c158;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 26px 0;
    padding: 0 0 0 0;
}

.office-page footer .support .title img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}

.office-page footer .support ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    font-size: 0px;
}

.office-page footer .support ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0 8px;
    padding: 0 0 0 0;
}

.office-page footer .copyright {
    color: #353e41;
    font-size: 12px;
    line-height: 15px;
    font-weight: 200;
    text-align: center;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.office-page footer .row-right {
    vertical-align: middle;
}

.office-page footer .row-center {
    vertical-align: middle;
}

.office-page footer .row-center__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
}

.office-page footer .for-ref-link {
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #7f8e93;
}

.office-page footer .for-ref-link .link {
    color: #353e41;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.btn-mini {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    background-color: #7f8e93;
    transition: 0.3s;
    border-radius: 5px;
    padding: 0 9px 0 9px;
}

.btn-mini:hover {
    color: #fff;
    background-color: #353e41;
    transition: 0.3s;
    text-decoration: none;
}

.office-page footer .for-ref-link .btn-mini {
    margin-left: 10px;
}

.office-page .footer-menu {
    position: relative;
    margin: 10px 0 10px 0;
    padding: 0 0 0 0;
    list-style: none;
    font-size: 0px;
}

.office-page .footer-menu li {
    font-size: 12px;
    line-height: 14px;
    color: #353e41;
    margin: 0 8px 0 8px;
    padding: 0 0 0 0;
    display: inline-block;
    vertical-align: top;
}

.office-page .footer-menu li a {
    color: #353e41;
    text-decoration: none;
    position: relative;
    display: block;
}

.office-page .footer-menu li a:hover {
    color: #353e41;
    text-decoration: none;
}

.office-page .footer-menu li a::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    border-bottom: 1px solid #353e41;
    transition: 0.3s;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    left: 0;
    width: 0;
}

.office-page .footer-menu li a:hover::after {
    transition: 0.3s;
    width: 100%;
}

.btn:disabled {
    background-color: rgba(53, 62, 65, 0.1);
    color: rgba(53, 62, 65, 0.2);
    cursor: default;
}

.btn:disabled:hover {
    background-color: rgba(53, 62, 65, 0.1);
    color: rgba(53, 62, 65, 0.2);
}

/*-----footer-----*/

/*-----main-----*/
.main {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
    display: table-row;
}

.main > * {
    display: table-cell;
}

.main > .container-fluid {
    position: relative;
    min-height: 100%;
}

.main > .container-fluid > .my-row {
    position: relative;
    min-height: 100%;
}

.main .row-left {
    padding-top: 50px;
}

.main .row-center {
    padding-top: 50px;
}

.main .row-right {
    padding-top: 50px;
}

.main .row-left1 {
    padding-left: 80px;
    padding-right: 0px;
}

.chart {
    position: relative;
    margin: 0 0 35px 0;
    padding: 0 0 0 0;
}

.history {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.history h3 {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px 0;
    padding: 0 0 0 0;
    font-weight: normal;
}

.historylist {
    position: relative;
    margin: 0 0 0 0;
    padding: 26px 0 0 0;
    list-style: none;
}

.historylist li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.item-history {
    margin: 0 0 14px 0;
    padding: 0 0 12px 0;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
}

.item-history .item-history__title {
    color: #353e41;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.item-history .item-history__exch-rates {
    color: #353e41;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.item-history .item-history__exchange {
    color: #353e41;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.wallet-menu {
    position: relative;
    margin: 0 -15px 0 -15px;
    padding: 0 0 0 80px;
}

.wallet-menu2 {
    display: none;
}

.wallet-menu ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}

.wallet-menu ul li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.wallet-menu__item {
    display: block;
    position: relative;
    margin: 0 0 0 0;
    padding: 21px 0 22px 67px;
    text-decoration: none;
    background-position: left;
    background-repeat: no-repeat;
}

.wallet-menu__item:hover {
    text-decoration: none;
}

.comis, .comis:hover {
    color: #7ca6d1;
    background-image: url(../images/ico-1.png);
}

.trade, .trade:hover {
    color: #f38282;
    background-image: url(../images/ico-2.png);
}

.founds, .founds:hover {
    color: #b4d482;
    background-image: url(../images/ico-3.png);
}

.total, .total:hover {
    color: #e4c158;
    background-image: url(../images/ico-4.png);
}

.wallet-menu__item .wallet-menu__item__title {
    display: block;
    margin: 0 0 8px 0;
    padding: 0 0 0 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
}

.wallet-menu__item .wallet-menu__item__title b {
    font-weight: normal;
}

.wallet-menu__item .wallet-menu__item__amount {
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}

.wallet-menu__item .wallet-menu__item__amount b {
    font-weight: bold;
}

.wallet-menu__item::after {
    border-bottom: 1px solid;
    width: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

.comis::after {
    border-color: #7ca6d1;
}

.trade::after {
    border-color: #f38282;
}

.founds::after {
    border-color: #b4d482;
}

.total::after {
    border-color: #e4c158;
}

.wallet-menu__item.active::after, .active > .wallet-menu__item::after, .wallet-menu__item:hover::after {
    width: 100%;
    transition: 0.3s;
}

.info-blocks {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.info-blocks > .row {
    margin: 0 0 0 -50px;
}

.info-blocks > .row > div {
    padding: 0 0 0 50px;
}

.info-blocks__item {
    position: relative;
    border: 1px solid #efefef;
    border-radius: 5px;
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
}

.info-blocks__item .tablecel {
    color: #7e949c;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 4px 10px 4px 10px;
}

.info-blocks__item .tablecel .small {
    font-size: 12px;
}

.info-blocks__item .tablerow:first-child .tablecel {
    padding-top: 20px;
    padding-bottom: 15px;
    color: #353e41;
}

.info-blocks__item .tablerow .tablecel:first-child {
    padding-left: 20px;
    color: #e4c158;
}

.info-blocks__item .tablerow .tablecel:last-child {
    padding-right: 20px;
}

.info-blocks__item .tablerow:first-child .tablecel:first-child {
    font-weight: bold;
}

.info-blocks__item .tablerow:last-child .tablecel:first-child {
    font-weight: bold;
}

/*-----main-----*/

/*-----help-----*/
.help {
    display: inline-block;
    vertical-align: middle;
    width: 14px;
    margin: 0 0 0 0;
    padding: 2px 0 0 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    border-radius: 7px;
    box-sizing: border-box; /*background-image: url(../images/ico-10.png);*/
    height: 14px;
    text-align: center;
    color: #fff;
    background-color: #bec9cd;
    line-height: 12px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}

.help:hover { /*background-image: url(../images/ico-10-h.png);*/
    background-color: #9a9ea0;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

/*-----help-----*/

/*-----input-----*/
.forinput {
    margin-bottom: 40px;
    position: relative;
}

input[type="text"], input[type="email"], input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
    margin: 0 0 0 0;
    position: relative;
    border: 1px solid rgba(53, 62, 65, 1);
    border-radius: 5px;
    height: 61px;
    outline: none;
    font-size: 18px;
    color: rgba(53, 62, 65, 1);
    opacity: 0.5;
}

input[type="password"] {
    padding-left: 55px;
    background-image: url(../images/ico-11.png);
    background-position: 20px;
    background-repeat: no-repeat;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
    color: rgba(53, 62, 65, 1);
    border: 1px solid rgba(53, 62, 65, 1);
    opacity: 1;
}

input.refferal {
    padding-left: 55px;
    background-image: url(../images/ico-20.png);
    background-position: 19px;
    background-repeat: no-repeat;
}

input.name {
    padding-left: 55px;
    background-image: url(../images/ico-19.png);
    background-position: 19px;
    background-repeat: no-repeat;
}

input.walladr {
    padding-left: 55px;
    background-image: url(../images/ico-21.png);
    background-position: 19px;
    background-repeat: no-repeat;
}

input.sectoken {
    padding-left: 55px;
    background-image: url(../images/ico-22.png);
    background-position: 19px;
    background-repeat: no-repeat;
}

input.email {
    padding-left: 55px;
    background-image: url(../images/ico-24.png);
    background-position: 19px;
    background-repeat: no-repeat;
}

input.username {
    padding-left: 55px;
    background-image: url(../images/ico-23.png);
    background-position: 18px;
    background-repeat: no-repeat;
}

input.mobileph {
    padding-left: 55px;
    background-image: url(../images/ico-25.png);
    background-position: 23px;
    background-repeat: no-repeat;
}

input.error {
    border-color: #f53737;
    opacity: 1;
}

input.error:focus {
    border-color: #f53737;
}

.error-text {
    position: relative;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    color: #f44343;
    font-weight: 300;
}

input[type="text"].active, input[type="email"].active, input[type="password"].active {
    opacity: 1;
    border-color: #e4c158;
}

.lang-inp input {
    padding-left: 93px;
}

.lang-inp .lang-inp-bl {
    position: absolute;
    left: 55px;
    top: 22px;
    display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
    line-height: 16px;
    z-index: 1;
}

input:disabled {
    background-color: transparent;
    opacity: 0.2;
}

input:disabled + .label-currency {
    opacity: 0.2;
}

/*-----help-----*/

/*-----checkbox-----*/
.forcheck {
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
}

input[type="checkbox"] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: none;
}

input[type="checkbox"] + label {
    margin: 0 0 0px 0;
    display: block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    color: #353e41;
    padding: 0 0 0 0;
    text-align: left;
    text-transform: none;
}

input[type="checkbox"] + label span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    width: calc(100% - 51px);
}

input[type="checkbox"] + label::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    position: relative;
    width: 51px;
    height: 33px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid rgba(53, 62, 65, 0.5);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: transparent;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-image: none;
}

input[type="checkbox"] + label:hover::before {
    border: 1px solid rgba(53, 62, 65, 1);
}

input[type="checkbox"] + label a {
    color: #353e41;
    display: inline-block;
    position: relative;
}

input[type="checkbox"] + label a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    transition: 0.3s;
    border: none;
    border-bottom: 1px solid #353e41;
}

input[type="checkbox"] + label:hover a::after {
    border-bottom-color: #f7eccd;
}

input[type="checkbox"] + label a:hover::after {
    width: 0;
    transition: 0.3s;
}

input[type="checkbox"]:checked + label:before {
    background-color: #e4c158;
    transition: 0.3s;
    box-shadow: inset 0px 0px 0px 6px #fff;
}

/*-----checkbox-----*/
/*-----radio-----*/
.radio-block {
    position: relative;
    margin: 0 0 0 0;
    padding: 5px 4px 5px 4px;
    box-sizing: border-box;
    border: 1px solid #9a9ea0;
    border-radius: 5px;
    min-height: 61px;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.radio-block .row {
    margin: 0 0px;
    height: inherit;
    position: relative;
    width: 100%;
    flex-wrap: nowrap;
    align-items: stretch;
}

.radio-block .row > div {
    padding: 0 2px;
}

input[type="radio"] {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: none;
}

input[type="radio"] + label {
    margin: 0 0 0px 0;
    display: block;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    color: rgba(36, 36, 36, 0.5);
    padding: 0 0 0 0;
    text-align: center;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    justify-content: center;
    transition: 0.3s;
}

input[type="radio"] + label span {
    display: block;
}

input[type="radio"]:checked + label, input[type="radio"]:hover + label {
    background-color: #e4c158;
    color: #242424;
    transition: 0.3s;
}

/*-----radio-----*/

/*-----modal-----*/
.modal-dialog {
    max-width: 744px;
}

.modal-dialog-reg {
    max-width: 860px;
}

.modal-content {
    border: none;
    background-color: #ecf1f3;
    border-radius: 5px;
}

.modal-content input[type="checkbox"]:checked + label:before {
    box-shadow: inset 0px 0px 0px 6px #ecf1f3;
}

.modal-content .selectbox ul.dropdown {
    background-color: #ecf1f3;
}

.modal-backdrop {
    background-color: #353f41;
}

.modal-backdrop.show {
    opacity: 0.95;
}

.modal-header {
    padding: 15px 0 10px 0;
    display: block;
    border-bottom: none;
    margin: 0 0 0px 0;
}

.modal .close {
    width: 39px;
    height: 39px;
    outline: none;
    cursor: pointer;
    background-image: url(../images/close.png);
    padding: 0 0 0 0;
    margin: 0px 15px 0 0;
    float: right;
}

.modal-body {
    padding: 0 100px 0 100px;
}

.modal-body h3 {
    text-align: center;
    color: #353f41;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
    text-transform: none;
    letter-spacing: 0px;
}

.modal-body h3 strong {
    font-weight: 800;
}

.login-form {
    width: 316px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    position: relative;
}

.modal-body input[type="text"], .modal-body input[type="email"], .modal-body input[type="password"] {
    background-color: transparent;
}

.modal-body input[type="email"] {
    background-image: url(../images/ico-18.png);
    background-position: 19px;
    background-repeat: no-repeat;
    padding-left: 55px;
}

.modal-body .forinput {
    margin-bottom: 25px;
}

.registr-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 20px 0 0 0;
}

.registr-form .row {
    margin: 0 -12px;
}

.registr-form .row > div {
    padding: 0 12px;
}

.modal-footer {
    position: relative;
    margin: 0 0 0 0;
    padding: 50px 0 50px 0;
    border-top: none;
    justify-content: center;
}

.modal-footer .cancel {
    width: 176px;
}

.modal-body p {
    color: #353e41;
    font-size: 18px;
    line-height: 26px;
    margin: 0 0 36px 0;
    padding: 0 0 0 0;
}

.robot-data {
    display: flex;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.robot-data > * {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-weight: 300;
}

.robot-data > * b {
    font-weight: 400;
}

/*-----modal-----*/

/*--------------- selectbox ---------------*/
.uupercase {
    text-transform: uppercase;
    font-size: 0px;
}

.selectbox {
    cursor: pointer;
    display: block;
    padding: 0px 0 0px 0;
    margin: 0 0 0 0;
    position: relative;
    width: 100%;
}

.selectbox .select {
    width: 100%;
    height: 61px;
    background-color: transparent;
    border: none;
    margin: 0 0px 0px 0;
    padding: 0 55px 0 24px;
    font-size: 16px;
    line-height: 20px;
    color: #353e41;
    outline: none;
    display: block;
    box-sizing: border-box;
    border: 1px solid #90979a;
    border-radius: 5px;
}

.selectbox .focused .select {
}

.selectbox .select:hover {
    border-color: #353e41;
}

.selectbox .select .text {
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px 0 19px 0;
    font-size: 16px;
    line-height: 20px;
    color: #353e41;
    text-align: left;
}

.selectbox .trigger {
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    height: 59px;
    vertical-align: middle;
}

.selectbox .trigger::after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: 5px solid transparent;
    border-top: 7px solid #353e41;
    margin: -4px 0 0 -5px;
}

.selectbox .select:hover .trigger::after {
    border-top-color: #e4c158;
}

.selectbox:hover .arrow {
    opacity: 1;
    filter: alpha(opacity=100);
}

.selectbox ul.dropdown {
    border: 1px solid #90979a;
    background-color: transparent;
    top: 60px;
    width: 100%;
    margin: 0 0 0 0px;
    padding: 13px 0 13px 0;
    left: 0px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    color: #353e41;
    border-radius: 5px;
    background-color: #fff;
}

.selectbox li {
    text-align: left;
    padding: 12px 24px 11px 24px;
    color: #353e41;
    margin: 0 0 0 0;
}

.selectbox ul li {
    text-align: left;
    padding: 12px 24px 11px 24px;
    color: #353e41;
    margin: 0 0 0 0;
}

.selectbox li:hover, .selectbox li.sel {
    color: #e4c158;
}

.selectbox li.selected, .selectbox li.sel {
    color: #e4c158;
}

.selectbox li:first-child.selected, .selectbox li:first-child.sel {
    border-top: none;
}

.selectbox li:last-child.selected, .selectbox li:last-child.sel {
    border-bottom: none;
}

.selectbox li.disabled {
    color: #90979a;
    opacity: 0.5;
}

.selectbox li.disabled:hover {
    background: none;
}

.selectbox.disabled {
    opacity: 0.2;
}

.selectbox.disabled ul.dropdown {
    display: none !important;
}

.selectbox.disabled .select:hover .trigger::after {
    border-top-color: #353e41;
}

.row-left .selectbox .select {
    border-color: #e4c158;
    color: #e4c158;
}

.row-left .selectbox .select:hover {
    border-color: #e4c158;
}

.row-left .selectbox .select .text {
    color: #e4c158;
}

.row-left .selectbox .select:hover .text {
    color: #fff;
}

.row-left .selectbox .trigger::after {
    border-top-color: #e4c158;
}

.row-left .selectbox .select:hover .trigger::after {
    border-top-color: #fff;
}

.row-left .selectbox ul.dropdown {
    border: 1px solid #e4c158;
    color: #e4c158;
    background-color: #353e41;
}

.row-left .selectbox li {
    color: #e4c158;
}

.row-left .selectbox li:hover, .row-left .selectbox li.sel {
    color: #fff;
}

.row-left .selectbox li.selected, .row-left .selectbox li.sel {
    color: #fff;
}

.row-left .selectbox li.disabled {
    color: #fff;
    opacity: 0.5;
}

/*--------------- selectbox ---------------*/

/*-----btn-----*/
.btn {
    color: #e4c158;
    background-color: #353e41;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin: 0 0 0 0;
    padding: 21px 25px 20px 25px;
    text-decoration: none;
    transition: 0.3s;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.row-left .btn {
    border: 1px solid #e4c158;
    padding: 20px 24px 19px 24px;
}

.btn2 {
    color: #353e41;
    background-color: #e4c158;
}

.btn2.green {
    background-color: #b4d482;
}

.btn2.red {
    background-color: #f38282;
}

.btn2.blue {
    background-color: #7ca6d1;
}

.btn:hover {
    background-color: #e4c158;
    color: #353e41;
    transition: 0.3s;
    text-decoration: none;
}

.btn2:hover {
    background-color: #353e41;
    color: #e4c158;
}

.btn2.green:hover {
    color: #b4d482;
}

.btn2.red:hover {
    color: #f38282;
}

.btn2.blue:hover {
    color: #7ca6d1;
}

.modal-dialog .btn2:hover {
    color: #ecf1f3;
}

.btn-block {
    display: block;
}

.btn-nav {
    text-decoration: none;
    color: #353e41;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    box-sizing: border-box;
    display: block;
    border: 1px solid #353e41;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 0 0 0 0;
    padding: 13px 0 12px 0;
}

.btn-nav:hover {
    text-decoration: none;
    color: #e4c158;
    border-color: #e4c158;
}

.btn-nav__back {
    padding-left: 60px;
    text-align: left;
    background-image: url(../images/back-arr-h.png);
    background-position: 9px;
    background-repeat: no-repeat;
}

.btn-nav__back:hover {
    background-image: url(../images/back-arr.png);
}

.btn-clear {
    color: #e4c158;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 20px 0 20px;
    padding: 0 0 0 0;
    transition: 0.3s;
    display: inline-block;
}

.btn-clear.green {
    color: #b4d482;
}

.btn-clear.red {
    color: #f38282;
}

.btn-clear.blue {
    color: #7ca6d1;
}

.btn-clear:hover {
    color: #353e41;
    transition: 0.3s;
}

.btn-clear-reverse {
    color: #353e41;
}

.btn-clear-reverse:hover {
    color: #e4c158;
}

.btn-clear-reverse.green:hover {
    color: #b4d482;
}

.btn-clear-reverse.red:hover {
    color: #f38282;
}

.btn-clear-reverse.blue:hover {
    color: #7ca6d1;
}

.btn-border {
    display: block;
    color: #fff;
    background-color: transparent;
    border: 1px solid #e4c158;
    padding: 20px 24px 19px 24px;
}

.btn-border:hover {
    background-color: #e4c158;
    color: #353e41;
}

.btn-border.reverse {
    background-color: #e4c158;
    color: #353e41;
}

.btn-border.reverse:hover {
    color: #fff;
    background-color: transparent;
}

/*-----btn-----*/

/*-----matrix-tree-----*/
.main .row-left h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin: 0 0 30px 0;
    text-align: center;
}

.main .left-menu {
    padding: 0 0 0 118px;
    margin: 0 -15px 0 0;
    position: relative;
}

.main .left-menu ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
}

.main .left-menu ul li {
    font-size: 18px;
    line-height: 24px;
    color: #e4c158;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
}

.main .left-menu ul li a {
    display: block;
    position: relative;
    margin: 0 0 0 0;
    padding: 20px 0 20px 0;
    color: #e4c158;
    text-decoration: none;
}

.main .left-menu ul li a:hover {
    color: #e4c158;
    text-decoration: none;
}

.main .left-menu ul li a::after {
    border-bottom: 1px solid #e4c158;
    width: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

.main .left-menu ul li.active a::after, .main .left-menu ul li a:hover::after {
    width: 100%;
    transition: 0.3s;
}

.main .left-menu2 {
    display: none;
    text-align: center;
    padding-top: 12px;
}

.dropdown-toggle.left-menu__item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #e4c158;
    margin: 0 0 0 0;
    padding: 0 20px 0 0;
    width: 160px;
}

.dropdown-toggle.left-menu__item::after {
    position: absolute;
    display: block;
    content: "";
    border: 4px solid transparent;
    border-top-width: 8px;
    border-top-color: #e4c158;
    width: 0px;
    right: 0px;
    left: auto;
    top: 50%;
    margin: -4px 0 0 0;
}

.main .left-menu2 .dropdown-menu {
    margin: 0 0 0 0;
    border-radius: 0px;
    border: none;
    padding: 0 30px 50px 30px;
    background-color: #353f41;
    box-sizing: border-box;
    width: 100%;
    transform: none !important;
}

.main .left-menu2 .dropdown-left-menu__item {
    display: block;
    text-align: left;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    color: #e4c158;
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 160px;
}

.main .left-menu2 .dropdown-left-menu__item span {
    position: relative;
    display: inline-block;
    padding: 12px 0 12px 0;
}

.main .left-menu2 .dropdown-left-menu__item span::after {
    border-bottom: 1px solid #e4c158;
    width: 0;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
}

.main .left-menu2 .dropdown-left-menu__item:hover span::after {
    width: 100%;
}

.content-block {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.content-block__header {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content-block h2 {
    margin: 0 0 25px 0;
    padding: 0 0 0 0;
}

.content-block .buttons {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 272px;
}

.matrix-tree {
    position: relative;
    margin: 0 -80px 0 -80px;
    padding: 0 15px 0 15px;
}

.matrix-tree ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.matrix-tree ul li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.matrix-tree ul li ul li {
    width: 33.333333%;
}

.matrix-tree ul li ul {
    padding: 32px 0 0 0;
}

.matrix-tree ul li ul::before {
    display: block;
    content: "";
    height: 32px;
    width: 1px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 0px;
    background-color: #ebd182;
}

.matrix-tree ul li ul li::before {
    display: block;
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 48px;
    background-color: #ebd182;
}

.matrix-tree ul li ul li::after {
    display: block;
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    right: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 48px;
    background-color: #ebd182;
}

.matrix-tree ul li ul li ul li::before {
    top: 38px;
}

.matrix-tree ul li ul li ul li::after {
    top: 38px;
}

.matrix-tree ul li ul li:first-child::before {
    display: none;
}

.matrix-tree ul li ul li:last-child::after {
    display: none;
}

.one-people {
    position: relative;
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 130px;
    margin-bottom: 10px;
    display: block;
    text-decoration: none;
}

.one-people:hover {
    text-decoration: none;
}

.one-people .one-people__photo {
    width: 120px;
    height: 120px;
    background-color: #ebd182;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 18px;
    padding: 0 0 0 0;
    position: relative;
    z-index: 1;
}

.one-people .one-people__photo img {
    display: block;
    width: 100%;
}

.one-people .one-people__name {
    color: #353e41;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 6px 0;
    padding: 0 0 0 0;
    text-align: center;
}

.one-people .one-people__numbers {
    text-align: center;
    color: #353e41;
    font-size: 10px;
    line-height: 12px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.one-people .one-people__numbers .yelow {
    color: #ebd182;
}

.one-people .one-people__photo::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-radius: 50%;
}

.one-people:hover .one-people__photo::after {
    border: 3px solid #ebd182;
}

.matrix-tree ul li ul li .one-people .one-people__photo {
    width: 96px;
    height: 96px;
}

.matrix-tree ul li ul li ul li .one-people .one-people__photo {
    width: 76px;
    height: 76px;
}

.one-people .one-people__info {
    display: block;
    position: absolute;
    background-color: #e6e9ea;
    border-radius: 5px;
    padding: 15px 20px 10px 20px;
    margin: 0 0 0 -125px;
    box-sizing: border-box;
    z-index: 2;
    width: 250px;
    left: 50%;
    top: 127px;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.one-people .one-people__info p {
    color: #353e41;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    letter-spacing: 0px;
    margin: 0 0 0 0;
}

.one-people .one-people__info p b {
    font-weight: 400;
}

.one-people:hover .one-people__info {
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}

.one-people .one-people__info::before {
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0px;
    border: 7px solid transparent;
    border-bottom-color: #e6e9ea;
    margin: -14px 0 0 -7px;
}

.matrix-tree ul li ul li .one-people .one-people__info {
    top: 103px;
}

.matrix-tree ul li ul li ul li .one-people .one-people__info {
    top: 83px;
}

.matrix-tree ul li ul li:last-child ul li:last-child .one-people .one-people__info {
    left: auto;
    right: 0px;
}

.matrix-tree ul li ul li:last-child ul li:last-child .one-people .one-people__info::before {
    left: auto;
    right: 30px;
    margin-left: 0px;
}

/*-----matrix-tree-----*/

/*-----binary-tree-----*/
.binary-tree {
    position: relative;
    margin: 0 -80px 0 -80px;
    padding: 0 15px 0 15px;
}

.binary-tree ul {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.binary-tree ul li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
}

.binary-tree ul li ul li {
    width: 50%;
}

.binary-tree ul li ul {
    padding: 10px 0 0 0;
}

.binary-tree ul li ul::before {
    display: block;
    content: "";
    height: 35px;
    width: 1px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 24px;
    background-color: #ebd182;
}

.binary-tree ul li ul li ul::before {
    top: 13px;
}

.binary-tree ul li ul li ul li ul::before {
    top: 5px;
}

.binary-tree ul li ul li::before {
    display: block;
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 48px;
    background-color: #ebd182;
}

.binary-tree ul li ul li::after {
    display: block;
    content: "";
    height: 1px;
    width: 50%;
    position: absolute;
    right: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    top: 48px;
    background-color: #ebd182;
}

.binary-tree ul li ul li ul li::before {
    top: 38px;
}

.binary-tree ul li ul li ul li::after {
    top: 38px;
}

.binary-tree ul li ul li ul li ul li::before {
    top: 30px;
}

.binary-tree ul li ul li ul li ul li::after {
    top: 30px;
}

.binary-tree ul li ul li:first-child::before {
    display: none;
}

.binary-tree ul li ul li:last-child::after {
    display: none;
}

.binary-tree ul li ul li .one-people .one-people__photo {
    width: 96px;
    height: 96px;
}

.binary-tree ul li ul li ul li .one-people .one-people__photo {
    width: 76px;
    height: 76px;
}

.binary-tree ul li ul li ul li ul li .one-people .one-people__photo {
    width: 60px;
    height: 60px;
}

.binary-tree ul li ul li .one-people .one-people__info {
    top: 103px;
}

.binary-tree ul li ul li ul li .one-people .one-people__info {
    top: 83px;
}

.binary-tree ul li ul li ul li ul li .one-people .one-people__info {
    top: 67px;
}

.binary-tree ul li ul li:last-child ul li:last-child ul li:last-child .one-people .one-people__info {
    left: auto;
    right: 0px;
}

.binary-tree ul li ul li:last-child ul li:last-child ul li:last-child .one-people .one-people__info::before {
    left: auto;
    right: 30px;
    margin-left: 0px;
}

.left-bl-text {
    text-align: center;
}

.left-bl-text p {
    color: #e4c158;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    margin: 0 0 13px 0;
    padding: 0 0 0 0;
}

.left-bl-text p b {
    font-weight: 400;
}

.left-bl-text__select {
    position: relative;
    width: 180px;
    margin: 0 auto;
    padding: 5px 0 0 0;
}

/*-----binary-tree-----*/

/*-----add-founds-----*/
.content-block__inner {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: auto;
    max-width: 820px;
}

.text-block {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid #e4c158;
}

.text-block h3 {
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    position: relative;
}

.text-block h3::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 12px;
    border-top: 1px solid #e4c158;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.text-block h3 span {
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 0 25px 0 0;
}

.questions {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 22px 0;
}

.questions p {
    line-height: 18px;
    margin: 0 0 18px 0;
}

.questions-list {
    list-style: none;
}

.questions-list li {
    margin: 0 0 15px;
}

.questions-list li a {
    display: inline-block;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #353e41;
    text-decoration: none;
}

.questions-list li a:hover {
    color: #353e41;
    text-decoration: none;
}

.questions-list li a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 0px;
    transition: 0.3s;
    border-bottom: 1px solid #d7d8d9;
}

.questions-list li a:hover::after, .questions-list li.active a::after, .questions-list li a.active::after {
    width: 100%;
    transition: 0.3s;
}

.funds {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 585px;
    width: auto;
}

.funds .qr-code {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
}

.generete-text {
    color: #000;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 26px 0;
    padding: 0 0 0 0;
}

.deposite-amount {
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
}

label {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 21px 0;
    padding: 0 0 0 0;
    display: block;
}

label .lite {
    font-weight: 300;
}

.input-field {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 0px;
}

.input-field::after {
    content: "";
    display: block;
    clear: both;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.input-field .label-currency {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 19px 0 18px 0;
    font-weight: 300;
    float: left;
    width: 55px;
    text-align: right;
    position: relative;
    z-index: 1;
}

.input-field input:focus ~ .label-currency {
    color: #353e41;
}

.input-field input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 0 75px;
    margin: 0 0 0 -56px;
    position: relative;
    border: 1px solid rgba(53, 62, 65, 0.5);
    border-radius: 5px;
    height: 61px;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #353e41;
    float: right;
}

.input-field input:focus {
    color: #353e41;
    border: 1px solid rgba(53, 62, 65, 1);
}

.deposite-amount .input-field {
    max-width: 223px;
    width: auto;
}

.purse-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.purse-form .link {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
    position: relative;
    border: 1px solid rgba(53, 62, 65, 0.5);
    border-radius: 5px;
    height: 61px;
    outline: none;
    color: rgba(53, 62, 65, 0.5);
    font-size: 14px;
    text-align: center;
}

.purse-form .link:focus {
    color: rgba(53, 62, 65, 1);
    border: 1px solid rgba(53, 62, 65, 1);
}

/*.purse-form .copylink{display: block; border-radius: 5px; background-color: #353e41; margin: 0 0 0 0; padding: 21px 10px 20px 10px; position: relative; font-size: 16px; line-height: 20px; font-weight: bold; text-transform: uppercase; color: #ad9851; text-decoration: none; text-align: center;}
.purse-form .copylink:hover{background-color: #ad9851; color: #353e41; text-decoration: none;}*/

.triggers-deposit {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0 0 0 0;
}

.triggers-deposit .onetrig {
    position: relative;
    margin: 0 0 10px 0;
    padding: 0 0 0 0px;
    color: #8f8f8f;
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.triggers-deposit .onetrig img {
    margin-right: 20px;
}

.withdraw {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.resultsum {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #ee3b3b;
    font-size: 16px;
    line-height: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}

.resultsum2 {
    color: #353e41;
}

/*-----add-founds-----*/

/*-----verification-form-----*/
.verification-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 690px;
    width: auto;
}

.verif-text {
    font-size: 16px;
    line-height: 21px;
    color: #353e41;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.form-footer .row {
    align-items: center;
}

.documents {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 40px 0;
}

.documents .documents__item {
    position: relative;
    margin: 0 0 0 0;
    padding: 16px 0 17px 0;
}

.documents .documents__item .row {
    align-items: center;
}

.documents__item .documents__item__title {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.documents__item .documents__item__status {
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-position: left;
    background-repeat: no-repeat;
}

.documents__item .documents__item__status .help {
    margin-top: -3px;
    margin-left: 15px;
}

.documents__item .documents__item__status.error {
    color: #ff4040;
    padding-left: 38px;
    background-image: url(../images/ico-15.png);
}

.documents__item .documents__item__status.uploaded {
    color: #e4c158;
    padding-left: 38px;
    background-image: url(../images/ico-16.png);
}

.documents__item .documents__item__status.disclined {
    color: #ff4040;
    padding-left: 38px;
    background-image: url(../images/ico-17.png);
}

.documents__item .documents__item__status.approved {
    color: #e4c158;
    padding-left: 38px;
    background-image: url(../images/ico-28.png);
}

.documents .file-upload {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.documents .file-upload input[type="file"] {
    display: none;
}

.documents .file-upload label {
    display: block;
    position: relative;
    margin: 0 0 0 0;
}

.verification-form label {
    font-size: 16px;
}

.authorization {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 40px 0;
}

.authorization .authorization__item {
    position: relative;
    margin: 0 0 0 0;
    padding: 20px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.authorization .authorization__item .authorization__item__title {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
}

.authorization .authorization__item .qr-code {
    position: relative;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    width: 148px;
}

.authorization .authorization__item .input {
    position: relative;
    margin: 0 20px 0 0;
    padding: 0 0 0 0;
    width: 222px;
}

.verification-form-not {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 422px;
    width: auto;
}

.documents .line-upload {
    height: 2px;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #d7d8d9;
}

.documents .line-upload-active {
    height: 2px;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: #e4c158;
}

/*-----verification-form-----*/

/*-----finances-----*/
.finances {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 745px;
    width: 100%;
}

.finances-header {
    position: relative;
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
}

.finances-header .row {
    align-items: center;
}

.finances-header .ballance {
    color: #e4c158;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    letter-spacing: 1px;
}

.finances-header .ballance .ballance-amount {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 15px;
}

.finances-header .ballance .ballance-amount .help {
    letter-spacing: normal;
}

.finances-header .ballance.blue {
    color: #7ca6d1;
}

.finances-header .search {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.finances-header .search input {
    display: block;
    border: none;
    height: 30px;
    background-color: #e5e8e9;
    font-size: 14px;
    padding: 0 12px 0 12px;
    font-weight: 300;
    color: #353e41;
    margin: 0 0 0 0;
    width: 216px;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}

.finances-header .search input:focus {
    background-color: #d7d8d9;
}

.funds-buttons-block {
    position: relative;
}

.finances-table {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.finances-table .table {
    margin: 0 0 30px 0;
}

.finances-table .tablecel {
    color: #7f7f7f;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 10px 5px 10px 5px;
}

.finances-table .tablerow:first-child .tablecel {
    border-bottom: 1px solid #d7d8d9;
}

.finances-table .tablerow:nth-child(2) .tablecel {
    padding-top: 25px;
}

.status {
    display: block;
    margin: 0 auto;
    padding: 0 0 0 0;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #d7d8d9;
}

.status.red {
    background-color: #f38282;
}

.status.green {
    background-color: #b4d482;
}

.status.blue {
    background-color: #7ca6d1;
}

.finances-table .show-more {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14px;
    line-height: 18px;
    color: #353e41;
    text-decoration: none;
}

.finances-table .bordlink a::after {
    border-color: #353e41;
    width: 0;
}

.finances-table .bordlink a:hover::after {
    width: 100%;
}

.amount-tab {
    border-bottom: 1px solid #eaebec;
    display: inline-block;
    padding: 0 0 2px 0;
    margin: 0 0 3px 0;
}

.finances-table .tablecel.md-show {
    display: none;
}

/*-----finances-----*/

/*-----contacts-----*/
.contacts-table {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.contacts-table .table {
    margin: 0 0 30px 0;
}

.contacts-table .tablecel {
    color: #7f7f7f;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 10px 5px 10px 5px;
    text-align: center;
}

.contacts-table .tablerow:first-child .tablecel {
    border-bottom: 1px solid #d7d8d9;
    font-size: 14px;
}

.contacts-table .tablerow:nth-child(2) .tablecel {
    padding-top: 25px;
}

.contacts-table .tablerow .tablecel:first-child {
    text-align: left;
    padding-left: 3px;
}

.contacts-table .tablerow .tablecel:last-child {
    text-align: right;
    padding-right: 3px;
}

.balance-left {
    position: relative;
    margin: 0 0 35px 0;
    padding: 0 0 0 0;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    letter-spacing: 2px;
}

.main .left-bl-text {
    margin-bottom: 30px;
}

.main .balance-left {
    color: #353e41;
    margin-bottom: 25px;
}

.contract-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.contract-form__footer {
    margin: 0 auto;
    max-width: 388px;
    position: relative;
    padding: 0 0 0 0;
}

/*-----contacts-----*/

/*-----refferals-----*/
.refferals {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.refferals .row {
    margin: 0 -28px;
}

.refferals .row > div {
    padding: 0 28px;
}

.refferals-item {
    position: relative;
    margin: 0 0 58px 0;
    padding: 30px 35px 20px 35px;
    background-color: #e6e9ea;
    border-radius: 5px;
    box-sizing: border-box;
}

.refferals-item .refferals-item__header {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.refferals-item .refferals-item__header::after {
    display: block;
    content: "";
    position: relative;
    clear: both;
}

.refferals-item .refferals-item__header .refferals-item__header-left {
    position: relative;
    float: left;
    width: 100%;
    box-sizing: border-box;
    margin: 0 -109px 0 0;
    padding: 0 120px 0 0;
}

.refferals-item .refferals-item__header .refferals-item__header-left .name {
    color: #353e41;
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
}

.refferals-item .refferals-item__header .refferals-item__header-left .lang {
    position: relative;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    font-size: 16px;
    line-height: 21px;
    color: #353e41;
    font-weight: 300;
}

.refferals-item .refferals-item__header .refferals-item__header-right {
    position: relative;
    float: left;
    box-sizing: border-box;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 109px;
    height: 109px;
    z-index: 1;
}

.refferals-item .refferals-item__header .refferals-item__header-right .photo {
    display: block;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.refferals-item .refferals-item__header .refferals-item__header-right .photo img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.refferals-item .refferals-item__body {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 15px 0;
}

.refferals-item .refferals-item__body p {
    color: #353e41;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.refferals-item .refferals-item__body p b {
    font-weight: 400;
}

.refferals-item .refferals-item__body .label-new {
    position: absolute;
    right: 0;
    bottom: 15px;
    font-size: 16px;
    color: #6c9d3c;
}

.refferals-item .refferals-item__footer {
    position: relative;
    border-top: 1px solid #d4d8d9;
    margin: 0 0 0 0;
    padding: 18px 0 0 0;
}

.refferals-item .refferals-item__footer .row > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.refferals-item .refferals-item__footer .title {
    color: #8d9395;
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.refferals-item .refferals-item__footer .number {
    color: #353e41;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/*-----refferals-----*/

/*-----profile-----*/
.profile-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 700px;
    width: auto;
}

.profile-form .row {
    margin: 0 -35px;
}

.profile-form .row > div {
    padding: 0 35px;
}

.profile-form label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 15px;
    color: rgba(53, 62, 65, 0.5);
}

.profile-form input:hover {
    border-color: rgba(53, 62, 65, 1);
    opacity: 1;
}

.profile-form input:focus {
    border-color: #e4c158;
    opacity: 1;
}

.profile-form p {
    font-size: 14px;
    line-height: 17px;
    color: rgba(53, 62, 65, 0.5);
    margin: 0 0 22px 0;
}

/*-----profile-----*/

/*-----main-----*/
.main-page {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    min-height: 100%;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/bg-main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.main-page__header {
    position: relative;
    margin: 0 0 0 0;
    padding: 65px 65px 65px 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.main-page__header .forlogo {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.main-page__header .title {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #e4c158;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 2px;
}

.main-page__header .currencies {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #e4c158;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

.main-page__center {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    text-align: center;
}

.main-page__center h1 {
    color: #e4c158;
    font-size: 70px;
    line-height: 90px;
    font-weight: 800;
    margin: 0 0 20px 0;
    padding: 0 0 0 0;
    text-transform: none;
}

.main-page__center .sign-text {
    color: #e4c158;
    font-size: 40px;
    line-height: 50px;
    font-weight: 300;
    margin: 0 0 50px 0;
    padding: 0 0 0 0;
}

.tablecel-buttons {
    width: 537px;
    position: relative;
    padding: 0 40px;
    box-sizing: border-box;
}

.yelow-line {
    background-color: #e4c158;
    box-sizing: border-box;
    height: 61px;
}

.main-page__center .table .tablerow .tablecel {
    vertical-align: middle;
}

.main-page__center .table .tablerow .tablecel:first-child .yelow-line {
    border-radius: 0px 5px 5px 0px;
}

.main-page__center .table .tablerow .tablecel:last-child .yelow-line {
    border-radius: 5px 0px 0px 5px;
}

.main-page__center .btn {
    font-size: 18px;
    padding-left: 59px;
    padding-right: 59px;
}

.button-flex {
    display: flex;
    position: relative;
    margin: 0 -20px;
    padding: 0 0 0 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button-flex__item {
    padding: 0 20px;
    position: relative;
}

.main-page__footer {
    position: relative;
    margin: 0 0 0 0;
    padding: 65px 65px 65px 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.main-page__footer > * {
    display: block;
    height: auto;
}

.main-page__footer .support {
    padding: 0 0 0 0;
}

.main-page__footer .copyright {
    color: #c1d2d7;
}

.main-page__footer .footer-menu li {
    font-weight: 300;
}

.main-page__footer .footer-menu li a {
    color: #c1d2d7;
}

.main-page__footer .footer-menu li a::after {
    border-bottom-color: #c1d2d7;
}

/*-----main-----*/

/*-----withdraw-wallet-----*/
.withdraw-wallet-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 316px;
}

.withdraw-wallet-form label {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
}

.withdraw-wallet-form .forinput {
    margin-bottom: 25px;
}

.sec-token-req {
    font-size: 16px;
    line-height: 21px;
    color: #353e41;
    opacity: 0.5;
    margin: 0 0 35px 0;
    padding: 0 0 0 0;
}

/*-----withdraw-wallet-----*/

/*-----personal-data-form-----*/
.personal-data-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 624px;
}

.personal-data-form .forinput {
    margin-bottom: 25px;
}

.personal-data-form .forinput.last-child {
    margin-bottom: 40px;
}

.personal-data-form form > .row {
    flex-direction: row-reverse;
}

.profile-right {
    float: right;
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.profile__photo {
    box-sizing: border-box;
    margin: 0 0 140px 0;
    padding: 0 0 0 0;
    width: 190px;
    text-align: center;
    position: relative;
}

.profile__photo #upload-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ebd182;
    background-image: url(../images/ico-26.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26% auto;
}

.profile__photo .file-upload {
    position: relative;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.profile__photo .file-upload-img {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding: 100% 0 0 0;
    margin: 0 0 25px 0;
}

.profile__photo .file-upload input[type="file"] {
    display: none;
}

.profile__photo .file-upload label {
    font-size: 18px;
    line-height: 24px;
    color: rgba(53, 62, 65, 0.5);
    display: block;
    position: relative;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.profile__photo .file-upload span {
    display: inline-block;
    width: auto;
    position: relative;
}

.profile__photo .file-upload span::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 0;
    transition: 0.3s;
    border-bottom: 1px solid #353e41;
}

.profile__photo .file-upload span:hover {
    color: rgba(53, 62, 65, 1);
    transition: 0.3s;
}

.profile__photo .file-upload span:hover::after {
    width: 100%;
    transition: 0.3s;
}

/*-----personal-data-form-----*/

/*-----transfer-form-----*/
.transfer-form {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    max-width: 627px;
}

.transfer-form h3 {
    letter-spacing: 1px;
}

.transfer-funds {
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 0 0;
}

.transfer-form.error .triggers-deposit {
    opacity: 0.5;
}

.transfer-form.error .resultsum {
    opacity: 0.3;
}

.between-wallets .row {
    margin: 0 -7px;
}

.between-wallets .row > div {
    padding: 0 7px;
}

.arrow-wallet {
    margin-top: 62px;
}

/*-----transfer-form-----*/


/*tikets*/
*{
    outline: none!important;
}
.tickets .main .row-left h3{
    text-align: left;
    padding-left: 118px;
}
.tickets__title{
    font-family: 'Circe';
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #353e41;
}
.tickets .tablecel span{
    display: block;
    text-transform: uppercase;
    line-height: 20px;
}
.tickets__table .tablecel p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.tickets__table .tablecel p{
    margin-bottom: 0;
    font-size: 16px;
}
.tickets__table .tablecel {
    color: #353e41;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
    padding: 10px 35px 10px 5px;
    letter-spacing: 1px;
}
.tickets__table .table .tablecel:last-child{
    text-align: center;
    padding-right: 5px;
}
.tickets__table .table .tablecel:first-child{
    padding-left: 0;

}
.tickets__table .table .tablerow:first-child .tablecel{
    border-bottom: 1px solid #d7d8d9;
    color: #9a9ea0;
}
.tickets__table .table{
    max-width: 780px;
}
.tickets__table .btn-mini{
    padding-top: 2px;
}
.tickets__table .tablerow .tablecel a.info{
    color: #353e41;
}
.tickets__table .tablerow.disabled .tablecel:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

}
.tickets__table .tablerow.disabled .tablecel{
    position: relative;
    opacity: .3;
}
.tickets__order-info{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 0;
}
.tickets__order-info li{
    display: block;
}
.tickets__order-info li p{
    margin-bottom: 0;
    font-size: 18px;
    color: #4e5659;
    letter-spacing: 1px;
}
.tickets__order-info li p a{
    color: #e4c158;
    position: relative;
}
.tickets__order-info li p a:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    width: 0;
    transition: 0.3s;
    border-bottom: 1px solid #e4c158;
}
.tickets__order-info li p a:hover:after{
    width: 100%;
}
.tickets__order-info li span{
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #a0a4a6;
    display: block;
}
.tickets__order-wrap{
    margin-top: 50px;
}
.tickets__order-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 470px;
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-right: 40px;
    margin-bottom: 30px;
}
.tickets__order-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.tickets__order-item_info{
    text-align: center;
    width: 20px;
    height: 20px;
    color: #4e5659;
    background: #fff;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.tickets__order-item_title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.tickets__order-item_title p{
    font-size: 26px;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.tickets__order-item_list li{
    font-size: 14px;
    color: #fff;
    margin-bottom: 17px;
}
.tickets__order-item_price{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 13px;
}
.tickets__order-item_status span{
    line-height: 14px;
}
.tickets__order-item_status{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    letter-spacing: 1px;
    line-height: 14px;
}
.tickets__order-item_btn{
    margin-top: 50px;
    height: 60px;
    width: 100%;
    letter-spacing: 1px;
    color: #325675;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.order__btn_purple:hover{
    background: #2acbb2;
}
.order__btn_purple{
    background: #46f4d9;

}
.order__btn_blue:hover{
    background: #30b0db;
}
.order__btn_blue{
    background: #46c8f4;
}
.order__btn_fire:hover{
    background: #cfa832;
}
.order__btn_fire{
    background: #e4c158;

}
.ticket__detail.modal .close{
    background-image: url('../images/close_tickets_details.png');
}
.ticket__buy.modal .modal-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.ticket__detail.modal .modal-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.ticket__detail-top{
    padding: 70px 90px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.ticket__detail-top_wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.ticket__detail-title{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    position: relative;
}
.ticket__detail-title_type{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 2px;
    left: 0;
}
.ticket__detail-top_left .tickets__order-item_list li:last-child{
    margin-bottom: 0;
}
.ticket__detail-top_left .tickets__order-item_list li{
    letter-spacing: 1px;
    font-size: 14px;
}
.ticket__buy{
    letter-spacing: 1px;
}
.ticket__detail{
    letter-spacing: 1px;
}
.ticket__detail-price>span{
    font-size: 14px;
    color: #fff;
    margin-bottom: 16px;
    display: block;
}
.ticket__detail-price b{
    font-weight: 600;
}
.ticket__detail-price p span{
    font-size: 16px;
}
.ticket__detail-price p{
    color: #fff;
    font-size: 25px;
    font-weight: 300;

}
.ticket__detail-top_wrap{
    margin-top: 40px;
}
.ticket__detail-bottom{
    padding: 60px 90px 80px;
    background: #ecf1f3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.ticket__detail-bottom_left,
.ticket__detail-bottom_right{
    width: 100%;
    min-height: 227px;
    max-width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.ticket__detail-bottom_label{
    font-size: 14px;
    color: #767879;
    display: block;
    margin-bottom: 20px;
}
.ticket__detail-bottom_name p{
    font-size: 30px;
    font-weight: 600;
    color: #000;
    line-height: 40px;
}
.ticket__detail-bottom_date p,
.ticket__detail-bottom_address p{
    font-size: 20px;
    line-height: 30px;
    color: #353e41;
}
.ticket__detail-bottom_btn:hover{
    background: #cfa832;
}
.ticket__detail-bottom_btn{
    font-size: 18px;
    text-transform: uppercase;
    background: #e4c158;
    color: #353e41;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    border: none;
    height: 70px;
    border-radius: 7px;
    cursor: pointer;
}
.ticket__detail-content{
    border-radius: 7px;
}
.ticket__detail-content form {
    margin-bottom: 0;
}
.ticket__buy-title{
    color: #353f41;
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    bottom: -20px;
    position: relative;
}
.ticket__buy .ticket__detail-price p{
    color: #000;
}
.ticket__buy .ticket__detail-price span{
    color: #353f41;
}
.ticket__buy .ticket__detail-bottom_btn{
    width: 100%;

}

.ticket__buy input[type="checkbox"] + label,
.ticket__buy input[type="checkbox"] + label a,
.ticket__buy label{
    color: #fff;
}
.ticket__buy input[type="checkbox"] + label::before{
    border-color: #fff;
}
.ticket__buy input[type="checkbox"] + label a::after{
    border-color: #fff;
}
.ticket__buy .ticket__detail-title_type{
    top: -25px;
}
.ticket__buy .forinput{
    margin-bottom: 0;
}
.ticket__buy .ticket__detail-top_right{
    display: block;
    width: 100%;
    max-width: 390px;
}
.modal .close{
    position: relative;
    z-index: 10;
}
.qr__ticket .modal-body{
    padding-left: 0;
    padding-right: 0;
}
.qr__ticket .modal-header .close{
    position: absolute;
    top: -50px;
    right: -55px;
    background-image: url('../images/close_tickets_details.png');
}
.qr__ticket .modal-header,
.ticket__thx .modal-header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.ticket__thx{
    letter-spacing: 1px;
}
.ticket__thx-desc{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 20px;
    color: #353e41;
}
.ticket__thx-btn a{
    display: inline-block;
    line-height: 70px;
    width: 100%;
    color: #353e41;
    height: 100%;
    background: #e4c158;
    -webkit-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    text-align: center;
}
.ticket__thx-btn a:hover{
    background: #cfa832;
}
.ticket__thx-btn{
    width: 100%;
    max-width: 390px;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    height: 70px;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 90px;
}
.qr__ticket{
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.qr__ticket .modal-body:after{
    content: '';
    position: absolute;
    top: 20px;
    bottom: 50px;
    left: 20px;
    right: 20px;
    border: 1px solid #4e5659;
    z-index: 2;
}
.qr__ticket .modal-body.qr__ticket-standard:after{
    border-color: #d5b554;
}
.qr__ticket .modal-body.qr__ticket-vip:after{
    border-color: #43e7d0;
}
.qr__ticket .modal-body.qr__ticket-elit:after{
    border-color: #46c8f4;
}
.qr__ticket .modal-body{
    position: relative;
}
.qr__ticket-wrap{
    position: relative;
    padding-top: 15%;
    padding-bottom: 18%;
    z-index: 3;
    text-align: center;
    color: #fff;
}
.qr__ticket-logo {
    display: block;
    text-align: center;
}
.qr__ticket-logo img{
    width: 100%;
    max-width: 25%;
    display: inline-block;
}
.qr__ticket-desc{
    letter-spacing: 1px;
    margin-top: 3%;
    margin-bottom: 6%;
    color: #fff;
    font-size: 18px;
}
.qr__ticket-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 4%;
}
.qr__ticket-qr img{
    width: 100%;
    display: inline-block;
    max-width: 35%;

}
.qr__ticket-date p:before{
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/calendar_ico.png');
    margin-right: 10px;
    top: -2px;


}
.qr__ticket-date{
    margin-top: 6%;
    margin-bottom: 3.5%;
}
.qr__ticket-date p{
    display: inline-block;
    position: relative;
    color: #fff;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 16px;
}
.qr__ticket-location p:before{
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 17px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/location_ico.png');
    margin-right: 10px;
    top: -1px;
}
.qr__ticket-location p{
    display: inline-block;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
    font-size: 14px;
    max-width: 60%;
    line-height: 18px;
}
.qr__ticket-phone{
    margin-top: 3.5%;

}
.qr__ticket-phone a:before{
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 17px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/phone_ico.png');
    margin-right: 10px;
    top: -2px;
}
.qr__ticket-phone a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    position: relative;
}
.qr__ticket-copyright{
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 300;
    color:#fff;
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}
.qr__ticket .modal .close {

}
.ticket__buy error{
    position: absolute;
    bottom: -24px;
    left: 0;
    color: red;
    font-size: 14px;
}
.ticket__buy .forcheck{
    position: relative;
}
.ticket__checkbox.valid label:after{
    opacity: 1;
}
.ticket__checkbox.error label:after{
    opacity: 0;
}
.ticket__checkbox{
    margin-bottom: 30px;
    position: relative;

}


.ticket__checkbox label:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 51px;
    height: 33px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.5)!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    background: transparent!important;

}
.ticket__checkbox input:checked + label:after{
    opacity: 1;
}
.ticket__checkbox label:after{
    content: '';
    opacity: 0;
    position: absolute!important;
    top: 6px;
    left: 6px;
    width: 39px;
    height: 21px;
    background: #d5b554;
    display: inline-block;
    border-radius: 3px;
    z-index: 5;
}
.ticket__checkbox label span{
    display: inline-block;
    line-height: 33px;
}
.ticket__checkbox label span a{
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    color: #fff;
}

.ticket__checkbox label{
    height: 33px;
    padding-left: 70px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
    color: #fff;
    text-align: left;
    margin-bottom: 0;
}