/*==========  Desktop First Method  ==========*/

@media only screen and (max-width: 1700px) {
    .info-blocks > .row {
        margin: 0 -15px 0 -15px;
    }

    .info-blocks > .row > div {
        padding: 0 15px 0 15px;
    }

    .row-center {
        padding: 0 0 0 40px;
    }

    .row-right {
        padding: 0 40px 0 40px;
        width: 268px;
    }

    .row-left {
        width: 297px;
    }

    .main .row-left1 {
        padding-left: 40px;
    }

    .main .left-menu {
        padding: 0 0 0 78px;
    }

    .row-center1 {
        padding: 0 40px 0 40px;
    }

    .matrix-tree {
        margin: 0 -40px 0 -40px;
    }

    .binary-tree {
        margin: 0 -40px 0 -40px;
    }

    .wallet-menu {
        padding: 0 0 0 40px;
    }

    .menu ul li {
        margin: 0 30px 0 0;
    }

    .tickets .main .row-left h3 {
        padding-left: 78px;
    }
}

@media only screen and (max-width: 1516px) {
    .menu ul li {
        font-size: 16px;
        line-height: 24px;
    }

    /*-----pages-----*/
    .info-blocks__item .tablecel {
        font-size: 14px;
        line-height: 18px;
    }

    .one-people {
        width: 110px;
    }

    /*-----pages-----*/
}

@media only screen and (max-width: 1400px) {
    .tickets__order-item:last-child {
        margin-right: 0;
    }

    .tickets__order-item {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1334px) {
    .one-people {
        width: 100px;
    }

    .one-people .one-people__photo {
        width: 100px;
        height: 100px;
        margin-bottom: 12px;
    }

    .one-people .one-people__name {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 4px 0;
    }

    .binary-tree ul li ul::before {
        height: 25px;
        top: 25px;
    }

    .binary-tree ul li ul li .one-people .one-people__photo {
        width: 80px;
        height: 80px;
    }

    .binary-tree ul li ul li::after {
        top: 40px;
    }

    .binary-tree ul li ul li::before {
        top: 40px;
    }

    .binary-tree ul li ul li ul::before {
        top: 15px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__photo {
        width: 60px;
        height: 60px;
    }

    .binary-tree ul li ul li ul li::after {
        top: 30px;
    }

    .binary-tree ul li ul li ul li::before {
        top: 30px;
    }

    .binary-tree ul li ul li ul li ul::before {
        top: 5px;
    }

    .binary-tree ul li ul li ul li ul li .one-people .one-people__photo {
        width: 40px;
        height: 40px;
    }

    .binary-tree ul li ul li ul li ul li::after {
        top: 20px;
    }

    .binary-tree ul li ul li ul li ul li::before {
        top: 20px;
    }

    .matrix-tree ul li ul::before {
        height: 25px;
        top: 25px;
    }

    .matrix-tree ul li ul li .one-people .one-people__photo {
        width: 80px;
        height: 80px;
    }

    .matrix-tree ul li ul li::after {
        top: 40px;
    }

    .matrix-tree ul li ul li::before {
        top: 40px;
    }

    .matrix-tree ul li ul li ul::before {
        top: 15px;
    }

    .matrix-tree ul li ul li ul li .one-people .one-people__photo {
        width: 60px;
        height: 60px;
    }

    .matrix-tree ul li ul li ul li::after {
        top: 30px;
    }

    .matrix-tree ul li ul li ul li::before {
        top: 30px;
    }

    .one-people .one-people__info {
        top: 107px;
    }

    .binary-tree ul li ul li .one-people .one-people__info {
        top: 87px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__info {
        top: 67px;
    }

    .binary-tree ul li ul li ul li ul li .one-people .one-people__info {
        top: 47px;
    }

    .matrix-tree ul li ul li .one-people .one-people__info {
        top: 87px;
    }

    .matrix-tree ul li ul li ul li .one-people .one-people__info {
        top: 67px;
    }

    .one-people .one-people__numbers span {
        display: block;
    }

    .one-people .one-people__numbers .yelow {
        display: none;
    }
}

@media only screen and (max-width: 1300px) {
    .menu ul li {
        font-size: 14px;
        line-height: 18px;
        margin: 0 10px 0 0;
    }

    .office-page header .account .dropdown-toggle span {
        display: none;
    }

    .office-page header .language {
        margin: 0 15px 0 0;
    }
}

@media only screen and (max-width: 1250px) {
    .one-people {
        width: 80px;
        max-width: 100%;
    }

    .one-people .one-people__photo {
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
    }

    .one-people .one-people__name {
        font-size: 13px;
        line-height: 15px;
        margin: 0 0 4px 0;
    }

    .binary-tree ul li ul::before, .matrix-tree ul li ul::before {
        top: 15px;
    }

    .binary-tree ul li ul li .one-people .one-people__photo, .matrix-tree ul li ul li .one-people .one-people__photo {
        width: 60px;
        height: 60px;
    }

    .binary-tree ul li ul li::after, .matrix-tree ul li ul li::after {
        top: 30px;
    }

    .binary-tree ul li ul li::before, .matrix-tree ul li ul li::before {
        top: 30px;
    }

    .binary-tree ul li ul li ul::before, .matrix-tree ul li ul li ul::before {
        top: 5px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__photo, .matrix-tree ul li ul li ul li .one-people .one-people__photo {
        width: 40px;
        height: 40px;
    }

    .binary-tree ul li ul li ul li::after, .matrix-tree ul li ul li ul li::after {
        top: 20px;
    }

    .binary-tree ul li ul li ul li::before, .matrix-tree ul li ul li ul li::before {
        top: 20px;
    }

    .binary-tree ul li ul li ul li ul::before, .matrix-tree ul li ul li ul li ul::before {
        top: 2px;
    }

    .binary-tree ul li ul li ul li ul li .one-people .one-people__photo, .matrix-tree ul li ul li ul li ul li .one-people .one-people__photo {
        width: 33px;
        height: 33px;
    }

    .binary-tree ul li ul li ul li ul li::after, .matrix-tree ul li ul li ul li ul li::after {
        top: 16px;
    }

    .binary-tree ul li ul li ul li ul li::before, .matrix-tree ul li ul li ul li ul li::before {
        top: 16px;
    }

    .one-people .one-people__info {
        top: 87px;
        width: 200px;
        margin-left: -100px;
    }

    .one-people .one-people__info p {
        font-size: 12px;
        line-height: 15px;
    }

    .binary-tree ul li ul li .one-people .one-people__info {
        top: 67px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__info {
        top: 47px;
    }

    .binary-tree ul li ul li ul li ul li .one-people .one-people__info {
        top: 40px;
    }

    .matrix-tree ul li ul li .one-people .one-people__info {
        top: 67px;
    }

    .matrix-tree ul li ul li ul li .one-people .one-people__info {
        top: 47px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .main-page__header {
        padding: 30px 30px 30px 30px;
    }

    .main-page__footer {
        position: relative;
        margin: 0 0 0 0;
        padding: 30px 30px 30px 30px;
    }

    .main-page__center h1 {
        font-size: 50px;
        line-height: 70px;
        font-weight: 800;
        margin: 0 0 20px 0;
    }

    .main-page__center .sign-text {
        font-size: 25px;
        line-height: 35px;
        margin: 0 0 35px 0;
    }

    .btn {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .btn-clear {
        font-size: 14px;
    }

    /*-----pages-----*/
    .info-blocks__item {
        margin-bottom: 30px;
    }

    .refferals .row {
        margin: 0 -15px;
    }

    .refferals .row > div {
        padding: 0 15px;
    }

    /*-----pages-----*/
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1080px) {
    .matrix-tree > ul > li > ul > li {
        width: 100%;
    }

    .matrix-tree > ul > li > ul > li + li {
        display: none;
    }

    .matrix-tree > ul > li > ul > li::after {
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .md-hide {
        display: none;
    }

    .md-show {
        display: block;
    }

    .finances-table .tablecel.md-show {
        display: block;
    }

    .tablecel.md-show {
        display: table-cell;
    }

    .page-grid-in {
        display: block;
    }

    .my-row {
        display: block;
        height: auto;
    }

    .row-left {
        display: block;
        width: 100%;
        padding: 0 30px 0 30px;
    }

    .row-center {
        display: block;
        padding: 0 30px 0 30px;
    }

    .row-right {
        display: block;
        width: 100%;
        padding: 0 30px 0 30px;
    }

    .office-page header {
        background-color: #353e41;
        display: block;
        padding: 27px 30px 20px 30px;
    }

    .office-page header > * {
        display: block;
        height: auto;
    }

    .office-page header .row-right {
        padding-bottom: 0;
    }

    .office-page header .row-center {
        padding-bottom: 0;
        position: static;
    }

    .office-page header .language {
        display: none;
    }

    .header-center {
        display: block;
        position: static;
    }

    .office-page header .my-row {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .office-page header .my-row > * {
        width: auto;
        padding: 0 0 0 0;
    }

    .office-page header .my-row .row-left {
        position: absolute;
        left: 50%;
        margin-left: -25px;
    }

    .office-page header .account .dropdown-toggle span {
        display: none;
    }

    .forlogo .logo .text {
        display: none;
    }

    .run-bot {
        border-radius: 3px;
        padding: 26px 38px 0 0;
        font-size: 0px;
        line-height: 0px;
        background-color: #e4c158;
        border: 1px solid #e4c158;
        margin: 0 0 0 18px;
    }

    .run-bot::before {
        left: 10px;
        top: 13px;
        width: 9px;
        height: 9px;
        background-size: 100% 100%;
        background-image: url(../images/ico-9-1h.png);
    }

    .run-bot::after {
        left: 16px;
        top: 5px;
        width: 12px;
        height: 12px;
        background-size: 100% 100%;
        background-image: url(../images/ico-9-2h.png);
    }

    .run-bot:hover {
        background-color: transparent;
    }

    .run-bot:hover::before {
        background-image: url(../images/ico-9-1.png);
    }

    .run-bot:hover::after {
        background-image: url(../images/ico-9-2.png);
    }

    .office-page header .account img {
        width: 28px;
        height: 28px;
    }

    .office-page header .account .dropdown-menu {
        left: auto !important;
        right: -48px;
    }

    .menu-button {
        display: block;
        z-index: 12;
    }

    .menu {
        position: absolute;
        left: 0px;
    }

    .menu nav {
        position: fixed;
        margin: 0 0 0 0;
        padding: 0px 0 0px 0;
        width: 100%;
        top: 0px;
        left: 0px;
        box-sizing: border-box;
        background-color: #353f41;
        overflow: hidden;
        height: 0px;
        transition: 0.3s;
        z-index: 11;
    }

    .menu.open nav {
        height: 100%;
        transition: 0.3s;
        padding: 15px 15px 15px 15px;
    }

    .main .row-left {
        padding-top: 0px;
        padding-bottom: 35px;
    }

    .wallet-menu {
        padding: 0 0 0 0px;
        margin: 0 0 0 0;
    }

    .menu nav ul {
        position: relative;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    .menu ul li {
        margin: 5px 0 5px 0;
        color: #fff;
    }

    .menu ul li a {
        color: #fff;
        display: inline-block;
        vertical-align: top;
    }

    .menu ul li a::after {
        bottom: 0px;
    }

    .main {
        display: block;
    }

    .main > * {
        display: block;
    }

    .main .row-right {
        padding-top: 0px;
    }

    .main .row-center {
        padding-top: 35px;
    }

    .main .content-block__header {
        text-align: center;
        flex-direction: column;
    }

    .wallet-menu {
        display: none;
    }

    .wallet-menu2 {
        display: block;
    }

    .dropdown-toggle.wallet-menu__item {
        padding-right: 15px;
    }

    .dropdown-toggle.wallet-menu__item::after {
        border: 4px solid transparent;
        border-top-width: 8px;
        width: 0px;
        right: 0px;
        left: auto;
        top: 50%;
        margin: -4px 0 0 0;
    }

    .dropdown-toggle.comis::after {
        border-top-color: #7ca6d1;
    }

    .dropdown-toggle.trade::after {
        border-top-color: #f38282;
    }

    .dropdown-toggle.founds::after {
        border-top-color: #b4d482;
    }

    .dropdown-toggle.total::after {
        border-top-color: #e4c158;
    }

    .wallet-menu2 .dropdown-menu {
        margin: 0 0 0 0;
        border-radius: 0px;
        border: none;
        padding: 0 30px 50px 30px;
        background-color: #353f41;
        box-sizing: border-box;
        width: 100%;
        transform: none !important;
    }

    .wallet-menu2 .dropdown-menu .wallet-menu__item::after {
        width: 100%;
    }

    .wallet-menu2 .dropdown-menu .wallet-menu__item:hover::after {
        width: 0;
    }

    .office-page footer {
        display: block;
        padding: 30px 0 35px 0;
    }

    .office-page footer > * {
        display: block;
        height: auto;
    }

    .office-page footer .row-left {
        background-color: transparent;
        text-align: center;
    }

    .office-page footer .language {
        display: inline-block;
        margin-bottom: 20px;
    }

    .office-page footer .row-center__inner {
        display: block;
    }

    .office-page footer .for-ref-link {
        text-align: center;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 26px;
    }

    .office-page footer .for-ref-link .link {
        display: block;
    }

    .office-page footer .support {
        padding: 0 0 0 0;
        margin: 0 0 30px 0;
    }

    .footer-menu {
        text-align: center;
        margin: 0 0 14px 0;
    }

    .footer-menu li {
        margin-bottom: 6px;
    }

    .main .left-menu {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }

    .main .left-menu {
        display: none;
    }

    .main .left-menu2 {
        display: block;
    }

    /*-----pages-----*/
    .chart {
        margin: 0 -30px 35px -30px;
    }

    .info-blocks {
        margin: 0 -15px;
    }

    .info-blocks__item {
        margin-bottom: 30px;
    }

    .historylist {
        padding: 0 0 0 0;
    }

    .history h3 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 16px 0;
        text-transform: none;
    }

    .item-history .item-history__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 5px;
    }

    .item-history .item-history__exch-rates {
        float: left;
        width: 50%;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 14px;
    }

    .item-history .item-history__exchange {
        float: right;
        width: 50%;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 14px;
        text-align: right;
    }

    .binary-tree {
        margin: 0 -30px 0 -30px;
    }

    .matrix-tree {
        margin: 0 -30px 0 -30px;
    }

    .content-block__header > * {
        order: 1;
    }

    .content-block .buttons {
        order: 0;
        padding: 10px 0 40px 0;
    }

    .finances {
        max-width: 100%;
    }

    .finances-header .row {
        flex-direction: column-reverse;
    }

    .funds-buttons-block {
        text-align: center;
        margin-bottom: 25px;
    }

    .finances-header .ballance {
        margin-bottom: 25px;
        text-align: center;
    }

    .finances-header .search input {
        width: 100%;
    }

    .finances-table .tablecel {
        font-size: 14px;
        line-height: 16px;
    }

    .contacts-table .tablecel {
        font-size: 14px;
        line-height: 16px;
    }

    .profile-form {
        max-width: 100%;
        width: 100%;
    }

    .profile-form .row {
        margin: 0 -15px;
    }

    .profile-form .row > div {
        padding: 0 15px;
    }

    .content-block h2 {
        text-align: center;
    }

    .profile-form h5 {
        text-align: center;
    }

    .profile-form p {
        text-align: center;
    }

    .personal-data-form {
        max-width: 100%;
    }

    .transfer-form {
        max-width: 100%;
    }

    .verification-form {
        max-width: 100%;
        width: 100%;
    }

    .verification-form-not {
        max-width: 100%;
        width: 100%;
    }

    .content-block__inner {
        max-width: 100%;
        width: 100%;
    }

    .funds {
        max-width: 100%;
        width: 100%;
    }

    .withdraw-wallet-form {
        max-width: 100%;
    }

    .tickets__table .table {
        margin: 0 auto;
    }

    .tickets header .my-row .row-left {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: 0;
    }

    .ticket__detail-bottom,
    .ticket__detail-top {
        padding-left: 50px;
        padding-right: 50px;
    }

    /*-----pages-----*/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
    .btn {
        font-size: 14px;
        line-height: 18px;
        padding: 15px 15px 14px 15px;
    }

    .btn-clear {
        font-size: 14px;
        line-height: 18px;
        margin: 0 15px 0 15px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
        padding: 0 15px 0 15px;
        height: 47px;
        font-size: 14px;
    }

    input[type="password"] {
        padding-left: 50px;
        background-position: 17px;
    }

    input.name {
        padding-left: 50px;
        background-position: 16px;
    }

    input.refferal {
        padding-left: 50px;
        background-position: 16px;
    }

    input.walladr {
        padding-left: 50px;
        background-position: 16px;
    }

    input.sectoken {
        padding-left: 50px;
        background-position: 16px;
    }

    input.email {
        padding-left: 50px;
        background-position: 16px;
    }

    input.username {
        padding-left: 50px;
        background-position: 15px;
    }

    input.mobileph {
        padding-left: 50px;
        background-position: 20px;
    }

    .input-field input {
        padding: 0 15px 0 65px;
        margin: 0 0 0 -48px;
        height: 47px;
        font-size: 14px;
    }

    .lang-inp input {
        padding-left: 80px;
    }

    .lang-inp .lang-inp-bl {
        top: 15px;
        left: 50px;
    }

    .input-field .label-currency {
        font-size: 18px;
        line-height: 24px;
        padding: 12px 0 11px 0;
        width: 48px;
    }

    .forinput {
        margin-bottom: 30px;
    }

    .radio-block {
        min-height: 47px;
    }

    input[type="radio"] + label {
        font-size: 14px;
        line-height: 18px;
    }

    label {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    h1 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 20px 0;
        letter-spacing: 1px;
    }

    h3 {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 1px;
    }

    h4 {
        font-size: 14px;
        line-height: 16px;
        margin: 0 0 20px 0;
        letter-spacing: 1px;
    }

    h5 {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 20px 0;
        letter-spacing: 1px;
    }

    hr {
        margin: 0 0 30px 0;
    }

    ul li {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 21px 0;
    }

    .questions p {
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    .left-bl-text p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 6px 0;
    }

    .left-bl-text__select {
        padding: 14px 0 0 0;
    }

    .selectbox .select {
        height: 47px;
        padding: 0 35px 0 15px;
        font-size: 14px;
        line-height: 18px;
    }

    .selectbox .select .text {
        padding: 14px 0 13px 0;
        font-size: 14px;
        line-height: 18px;
    }

    .selectbox .trigger {
        height: 45px;
        width: 35px;
    }

    .selectbox ul.dropdown {
        top: 46px;
        padding: 10px 0 10px 0;
        font-size: 14px;
        line-height: 18px;
    }

    .selectbox li {
        text-align: left;
        padding: 5px 24px 5px 24px;
    }

    /*-----pages-----*/
    .main-page__header {
        flex-wrap: wrap;
    }

    .main-page__header .title {
        order: 3;
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .main-page__footer {
        display: block;
    }

    footer .support {
        margin: 0 0 30px 0;
    }

    .footer-menu {
        text-align: center;
        margin-bottom: 30px;
    }

    .modal-body {
        padding: 0 30px 0 30px;
    }

    .modal-dialog {
        padding: 0 30px 0 30px;
    }

    .modal-body h3 {
        font-size: 30px;
        line-height: 40px;
        letter-spacing: 0px;
    }

    .modal-footer {
        padding: 30px 0 30px 0;
    }

    .login-form {
        padding: 0px 0 0 0;
    }

    .modal-body p {
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 18px 0;
    }

    .funds {
        width: auto;
        max-width: 100%;
    }

    .triggers-deposit {
        text-align: center;
    }

    .triggers-deposit .onetrig {
        width: 155px;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .purse-form .link {
        margin-bottom: 30px;
        height: 47px;
        font-size: 12px;
    }

    .generete-text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 14px 0;
    }

    .binary-tree ul li ul li ul li ul {
        display: none;
    }

    .one-people .one-people__photo {
        width: 52px;
        height: 52px;
    }

    .binary-tree ul::before, .matrix-tree ul::before {
        top: 15px;
    }

    .binary-tree ul li::after, .matrix-tree ul li::after {
        top: 30px;
    }

    .binary-tree ul li::before, .matrix-tree ul li::before {
        top: 30px;
    }

    .binary-tree ul li ul::before, .matrix-tree ul li ul::before {
        top: 5px;
    }

    .binary-tree ul li ul li .one-people .one-people__photo, .matrix-tree ul li ul li .one-people .one-people__photo {
        width: 40px;
        height: 40px;
    }

    .binary-tree ul li ul li::after, .matrix-tree ul li ul li::after {
        top: 20px;
    }

    .binary-tree ul li ul li::before, .matrix-tree ul li ul li::before {
        top: 20px;
    }

    .binary-tree ul li ul li ul::before, .matrix-tree ul li ul li ul::before {
        top: 2px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__photo, .matrix-tree ul li ul li ul li .one-people .one-people__photo {
        width: 33px;
        height: 33px;
    }

    .binary-tree ul li ul li ul li::after, .matrix-tree ul li ul li ul li::after {
        top: 16px;
    }

    .binary-tree ul li ul li ul li::before, .matrix-tree ul li ul li ul li::before {
        top: 16px;
    }

    .one-people .one-people__info {
        top: 59px;
        width: 160px;
        margin-left: -80px;
        padding: 10px 15px 7px 15px;
    }

    .binary-tree ul li ul li .one-people .one-people__info {
        top: 47px;
    }

    .binary-tree ul li ul li ul li .one-people .one-people__info {
        top: 40px;
    }

    .binary-tree ul li ul li:last-child ul li:last-child .one-people .one-people__info {
        left: auto;
        right: 0px;
    }

    .binary-tree ul li ul li:first-child ul li:first-child .one-people .one-people__info {
        left: 0px;
        margin-left: 0px;
    }

    .matrix-tree ul li ul li .one-people .one-people__info {
        top: 47px;
    }

    .matrix-tree ul li ul li ul li .one-people .one-people__info {
        top: 40px;
    }

    .matrix-tree ul li ul li ul li:last-child .one-people .one-people__info {
        left: auto;
        right: 0px;
    }

    .matrix-tree ul li ul li ul li:first-child .one-people .one-people__info {
        left: 0px;
        margin-left: 0px;
    }

    .binary-tree ul li ul li:last-child ul li:last-child .one-people .one-people__info::before {
        right: 10px;
        left: auto;
    }

    .binary-tree ul li ul li:first-child ul li:first-child .one-people .one-people__info::before {
        left: 10px;
        margin-left: 0px;
    }

    .matrix-tree ul li ul li ul li:last-child .one-people .one-people__info:before {
        right: 10px;
        left: auto;
    }

    .matrix-tree ul li ul li ul li:first-child .one-people .one-people__info:before {
        left: 10px;
        margin-left: 0px;
    }

    .funds-buttons-block .btn {
        display: block;
        margin-bottom: 25px;
    }

    .funds-buttons-block .btn-clear {
        margin: 0 0 0 0;
    }

    .finances-header .ballance {
        font-size: 14px;
        line-height: 18px;
    }

    .contacts-table .btn-mini {
        font-size: 12px;
        line-height: 15px;
        border-radius: 3px;
        padding: 0 5px 0 5px;
    }

    .contacts-table .tablerow:first-child .tablecel {
        font-size: 12px;
    }

    .balance-left {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1px;
    }

    .profile-form label {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    .profile-right {
        float: none;
    }

    .profile__photo {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .resultsum {
        margin-top: 15px;
    }

    .arrow-wallet {
        margin-top: 0px;
        margin-bottom: 30px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .between-wallets .row > .col-md-1 {
        text-align: center;
    }

    .verification-form h4 {
        text-align: center;
    }

    .verification-form label {
        font-size: 12px;
    }

    .documents {
        padding: 0 0 13px 0;
    }

    .documents .documents__item {
        padding: 0 0 17px 0;
    }

    .documents__item .documents__item__title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 18px;
    }

    .documents__item .documents__item__status {
        margin-bottom: 20px;
    }

    .form-footer .btn {
        margin-bottom: 30px;
    }

    .verif-text {
        font-size: 14px;
        line-height: 18px;
    }

    .verification-form-not h4 {
        text-align: center;
    }

    .authorization {
        padding: 0 0 13px 0;
    }

    .authorization .authorization__item {
        padding: 0 0 17px 0;
    }

    .authorization .authorization__item .authorization__item__title {
        font-size: 14px;
        line-height: 18px;
    }

    .authorization .authorization__item .qr-code {
        order: 2;
        margin: 18px 0 0 0;
        width: 100%;
    }

    .authorization .authorization__item .input {
        order: 2;
        margin: 18px 0 0 0;
        width: 100%;
    }

    .deposite-amount .input-field {
        max-width: 100%;
        width: 100%;
    }

    .withdraw-wallet-form label {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    .sec-token-req {
        font-size: 12px;
        line-height: 15px;
        margin: 0 0 15px 0;
    }

    .tickets .modal-body p {
        margin-bottom: 0;
    }

    .ticket__detail-bottom, .ticket__detail-top {
        padding-left: 20px;
        padding-right: 20px;
    }

    .ticket__buy-title {
        padding-top: 0;
    }

    .ticket__buy .forcheck {
        margin-bottom: 20px;
    }

    .ticket__detail-bottom {
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .ticket__detail-bottom_name p {
        margin-bottom: 10px;
    }

    /*-----pages-----*/
}

@media only screen and (max-width: 680px) {
    .tickets__table .tablecel:nth-child(2) {
        display: none;
    }

    .tickets__table .btn-mini {
        padding: 3px 5px;
    }

    .tickets__table .btn-mini,
    .tickets__table .tablecel,
    .tickets__table .tablecel p {
        font-size: 14px;
        line-height: 16px;
    }

    .tickets__order-wrap {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .ticket__detail-bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .ticket__detail-top_wrap {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .ticket__detail-top_left {
        margin-bottom: 30px;
    }

    .ticket__detail-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .ticket__detail-bottom_left, .ticket__detail-bottom_right {
        min-height: auto;
    }

    .ticket__buy .ticket__detail-top_right, .ticket__detail-bottom_address {
        max-width: inherit;
    }

    .ticket__detail-top_wrap {
        margin-top: 20px;
    }

    .ticket__detail-bottom_left, .ticket__detail-bottom_right {
        max-width: 100%;
    }

    .ticket__thx-btn {
        margin-bottom: 60px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px) {
    .main-page__header .title {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .main-page__center {
        padding: 0 30px;
    }

    .main-page__center h1 {
        font-size: 30px;
        line-height: 40px;
        font-weight: 800;
        margin: 0 0 20px 0;
    }

    .main-page__center .sign-text {
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 30px 0;
    }

    .footer-menu li {
        display: block;
        margin-bottom: 5px;
    }

    .footer-menu li a {
        display: inline-block;
    }

    .main-page__center .table {
        display: block;
    }

    .main-page__center .table .tablerow {
        display: block;
    }

    .main-page__center .table .tablerow .tablecel {
        display: block;
    }

    .main-page__center .table .tablerow .tablecel .yelow-line {
        display: none;
    }

    .tablecel-buttons {
        width: auto;
        padding: 0 0px;
    }

    .button-flex {
        display: block;
        margin: 0 0;
    }

    .button-flex__item {
        padding: 0 0px;
        margin-bottom: 30px;
    }

    .modal-body {
        padding: 0 15px 0 15px;
    }

    .modal-dialog {
        padding: 0 15px 0 15px;
    }

    .modal-body h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .modal .close {
        width: 20px;
        height: 20px;
        background-size: 100% 100%;
    }

    .modal-footer {
        padding: 15px 0 15px 0;
    }

    .info-blocks__item .tablecel {
        font-size: 11px;
        line-height: 12px;
        padding: 3px 3px 3px 3px;
    }

    .info-blocks__item .tablerow .tablecel:first-child {
        padding-left: 10px;
    }

    .info-blocks__item .tablerow .tablecel:last-child {
        padding-right: 10px;
    }

    .info-blocks__item .tablerow:first-child .tablecel {
        padding-top: 10px;
        padding-bottom: 7px;
    }

    .finances-table .tablecel {
        font-size: 12px;
        line-height: 15px;
        padding: 5px 3px 5px 3px;
    }

    .contacts-table .tablecel {
        font-size: 12px;
        line-height: 15px;
        padding: 5px 3px 5px 3px;
    }

    .refferals-item {
        margin: 0 0 30px 0;
        padding: 15px 20px 10px 20px;
    }

    .refferals-item .refferals-item__header .refferals-item__header-left {
        margin: 0 -80px 0 0;
        padding: 0 90px 0 0;
    }

    .refferals-item .refferals-item__header .refferals-item__header-right {
        width: 80px;
        height: 80px;
    }

    .refferals-item .refferals-item__header .refferals-item__header-left .name {
        font-size: 13px;
        line-height: 16px;
        margin: 0 0 16px 0;
    }

    .refferals-item .refferals-item__header .refferals-item__header-left .lang {
        margin: 0 0 16px 0;
        font-size: 13px;
        line-height: 16px;
    }

    .refferals-item .refferals-item__body p {
        font-size: 13px;
        line-height: 16px;
    }

    .refferals-item .refferals-item__body .label-new {
        bottom: 13px;
        font-size: 16px;
    }

    .refferals-item .refferals-item__footer .row > div {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: flex-start;
        margin-bottom: 10px;
    }

    .refferals-item .refferals-item__footer .number {
        font-size: 13px;
        line-height: 16px;
        margin: 0 0 0 15px;
    }

    .tickets__table .tablecel:nth-child(3) {
        display: none;
    }

    .qr__ticket .modal-header .close {
        top: -35px;
        right: -12px;
    }

    .tickets__order-item {
        margin-right: 0;
    }

    .ticket__buy-title {
        font-size: 30px;
    }

    .ticket__detail-bottom_name p {
        font-size: 24px;
        line-height: 30px;
    }

    .ticket__detail-bottom_label {
        margin-bottom: 10px;
    }

    .ticket__detail-price p {
        font-size: 22px;
    }

    .ticket__detail-bottom {
        padding-top: 20px;
    }

    .ticket__detail-bottom_date p, .ticket__detail-bottom_address p {
        font-size: 18px;
    }

    .ticket__thx-btn {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ticket__checkbox label {
        height: 33px;
    }

    .ticket__checkbox label span {
        height: 33px;
    }

    .ticket__checkbox label span {
        line-height: 18px;
    }
}

@media only screen and (max-width: 420px) {
    .ticket__buy error {
        bottom: -26px;
    }

    .tickets .forlogo .logo img {
        width: 120px;
        max-width: inherit;
    }

    .tickets .forlogo .logo {
        overflow: hidden;
        width: 35px;
        display: block;
    }

    .tickets header .my-row .row-left {
        left: 48%;
    }

    .qr__ticket-copyright {
        padding-left: 20px;
        padding-right: 20px;
    }

    .qr__ticket-copyright {
        bottom: 9px;
    }

    .qr__ticket-wrap {
        position: relative;
        padding-top: 17%;
        padding-bottom: 22%;
    }

    .tickets__order-info {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .tickets__order-info li p {
        font-size: 16px;
    }

    .tickets__order-info li span {
        margin-bottom: 10px;
    }

    .tickets__order-info li {
        margin-bottom: 10px;
    }

    .tickets__order-wrap {
        margin-top: 30px;
    }

    .ticket__buy-title {
        margin-top: 15px;
    }

    .ticket__detail-bottom_name p {
        font-size: 22px;
    }

    .ticket__detail-price p {
        font-size: 20px;
    }

    .ticket__detail-title_type {
        font-size: 24px;
    }

    .tickets input[type="checkbox"] + label {
        font-size: 14px;
    }

    .ticket__detail-bottom_btn {
        height: 50px;
    }

    .ticket__detail-bottom_label {
        margin-bottom: 5px;
    }

    .ticket__detail-title {
        font-size: 34px;
    }

    .ticket__detail-title_type {
        top: -30px;
    }

    .ticket__detail-top {
        padding-bottom: 20px;
    }

    .ticket__thx-desc {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .ticket__thx-btn {
        height: 50px;
    }

    .ticket__thx-btn a {
        line-height: 50px;
    }
}

@media only screen and (max-width: 385px) {
    .qr__ticket-name {
        font-size: 36px;
    }

    .qr__ticket-desc {
        font-size: 16px;
    }

    .qr__ticket-qr img {
        max-width: 43%;
    }

    .tickets .modal-body p {
        margin-bottom: 0;
    }

    .qr__ticket-location p {
        max-width: 80%;
    }

    .tickets__order-item {
        height: 450px;
    }

    .ticket__detail-bottom_date p, .ticket__detail-bottom_address p {
        font-size: 16px;
    }

    .ticket__detail-bottom, .ticket__detail-top {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (max-width: 360px) {
    .tickets__order-item {
        padding: 30px 15px;
        height: 440px;
    }
}

@media only screen and (max-height: 890px) {
}

@media only screen and (max-height: 780px) {
}

@media only screen and (max-height: 660px) {
}

@media only screen and (max-height: 550px) {
}

@media only screen and (min-width: 320px) {
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .refferals > .row > .col-xl-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .refferals > .row > .col-xl-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1516px) {
    .refferals > .row > .col-xl-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}