.darkbrown {
  color: #291f23 !important;
}
.slateGrey {
  color: #343434 !important;
}
.white {
  color: #ffffff !important;
}
.black {
  color: #000000 !important;
}
.dark {
  color: #2b2b2b !important;
}
.grey {
  color: #444444 !important;
}
.lightGrey {
  color: #bababa !important;
}
.lighterGrey {
  color: #f6f6f6 !important;
}
.silver {
  color: #f6f6f6 !important;
}
.turquise {
  color: #29b6a6 !important;
}
.advocado {
  color: #a7c034 !important;
}
.advocadodark {
  color: #738424 !important;
}
.red {
  color: #d50000 !important;
}
.navy {
  color: #2b3c4f !important;
}
.lime {
  color: #a7c034 !important;
}
.theme {
  color: #ff6600 !important;
}
* {
  padding: 0px;
  margin: 0px;
  outline: none;
}
p {
  margin-bottom: 20px;
  font-size: 14px;
}
a {
  color: #ff6600;
  text-decoration: none;
  font-size: 14px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ffffff;
}
a:hover:not(.button),
a:focus:not(.button) {
  color: #738424;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
h3 {
  font-size: 16px;
  margin-bottom: 20px;
}
.input-group {
  margin-bottom: 10px;
}
.radio {
  padding-top: 0px;
  margin-bottom: 10px;
}
ul li {
  list-style-position: inside;
}
form label {
  font-weight: normal;
}
.form-element:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.form-element label {
  line-height: 30px;
  font-weight: normal;
  font-size: 14px;
}
.form-element label .required {
  color: #d50000;
}
.form-element label:not(.nolabel) {
  min-width: 150px;
  padding-left: 10px;
  padding-right: 10px;
  background: #f6f6f6;
  float: left;
  font-size: 14px;
  margin-bottom: 5px;
}
.form-element input {
  float: left;
}
.form-element.checkbox label {
  float: left;
  line-height: normal;
  margin-right: 10px;
}
.form-element.checkbox input {
  float: none;
}
.overlay {
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.6);
}
.content {
  margin: 0 auto;
  width: 1150px;
}
.relative {
  position: relative;
}
.bigtext {
  font-size: 48px;
}
.block {
  display: block;
}
.wide {
  width: 100%;
}
.align-center {
  text-align: center;
}
.left {
  float: left;
}
.right {
  float: right;
}
.nomargin {
  margin: 0px;
}
.hide {
  display: none !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: right;
}
.wide {
  width: 100%;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
*:first-child + html .clearfix {
  min-height: 1%;
}
.input-field {
  margin: 12px 0px 0px 12px;
}
.input-field input,
input[type="text"],
input[type="password"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 220px;
  height: 30px;
  border: none;
  padding: 0px 5px;
  font-size: 14px;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  font-size: 13px;
  color: #222222;
  box-sizing: border-box;
}
.input,
textarea {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: none;
  padding: 0px 5px;
  font-size: 14px;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
  font-size: 13px;
  color: #222222;
  box-sizing: border-box;
}
textarea {
  padding: 5px;
}
.button {
  border: none;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  font-size: 16px;
  padding: 0px 10px;
  border-bottom: 2px solid #a9acae;
  color: #ffffff;
  background: #c8ccce;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled] {
  color: #ffffff !important;
  background: #8B8B8B !important;
  border-bottom: 2px solid #C5C5C5 !important;
}
.button.big {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 2px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
  height: 46px;
}
.button.theme {
  background: #ff6600;
  color: #2b2b2b !important;
  border-color: #cc5200;
}
.button.theme:hover {
  background: #e65c00;
  color: #ffffff !important;
}
.button.green {
  background: #a7c034;
  border-color: #738424;
}
.button.green:hover {
  background-color: #8b9e2e;
}
.button.red {
  background: #c62828;
  color: #ffffff !important;
  border-color: #b71c1c;
}
.button.red:hover {
  background: #b71c1c;
}
.button.green {
  background: #a7c034;
  border-color: #738424;
}
.button.blue {
  background: #2961b6;
  border-color: #29569a;
}
.button.blue:hover {
  background: #29569a;
}
.button.orange {
  background: #ff6600;
  color: #2b2b2b !important;
  border-color: #cc5200;
}
.button.orange:hover {
  background: #e65c00;
  color: #ffffff !important;
}
.button.yellow {
  background: #EAB804;
  border-color: #daab04;
}
.button.yellow:hover {
  background: #daab04;
}
.button.small {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
}
.button:hover {
  background: #8B8B8B;
}
.white.small {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px #f1f1f1;
  -moz-box-shadow: 0px 1px 3px #f1f1f1;
  box-shadow: 0px 1px 3px #f1f1f1;
  color: #343434 !important;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.white.small:hover {
  background: #c8ccce;
  text-decoration: none;
  color: #ffffff !important;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.message {
  display: block;
  padding: 10px 10px 10px 10px;
  margin: 10px 0px;
  border: none;
  font-size: 14px;
  background-image: none;
}
.message li {
  list-style-position: inside;
}
.message.error {
  border-left: 3px solid #ed541d;
  color: #8c2e0b;
  background-color: #fef5f1;
}
.message.warning {
  border-left: 3px solid #ed5;
  color: #840;
  background-color: #fffce5;
}
.message.success {
  border-left: 3px solid #be7;
  color: #234600;
  background-color: #f8fff0;
}
.nav.nav-pills li {
  margin-right: 10px;
}
.nav.nav-pills li.active a {
  background: #ff6600;
  color: #f6f6f6;
  border: 1px solid #ff6600;
}
.nav.nav-pills li.active a:hover {
  border: 1px solid #ff6600;
}
.nav.nav-pills li a {
  border: 1px solid #ececec;
  background: #f6f6f6;
  color: #2b2b2b;
}
.nav.nav-pills li a:hover {
  border: 1px solid #bababa;
}
html {
  height: 100%;
}
html body {
  position: relative;
  padding-bottom: 60px;
  min-height: 100%;
  background: #f6f6f6;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-break: strict;
}
html body #site {
  font-family: 'Open Sans';
  font-size: 14px;
  background: url('/images/frontbanner_gradient.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html body #site #header #header-top {
  padding: 15px 0px;
  background: #291f23;
}
html body #site #header #header-top #search-form {
  position: relative;
  margin-left: 15px;
}
html body #site #header #header-top #search-form .search-input {
  background: #343434;
  width: 295px;
  border: 1px solid #444444;
  box-sizing: border-box;
  padding-right: 30px;
  color: #ffffff;
}
html body #site #header #header-top #search-form .search-icon {
  cursor: pointer;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 7px;
}
html body #site #header #header-top .socials {
  line-height: 30px;
}
html body #site #header #header-top .socials a {
  color: #ffffff;
  font-size: 18px;
}
html body #site #header #header-top .creditcards {
  line-height: 28px;
  margin-left: 15px;
}
html body #site #header #header-top #login_form {
  padding: 20px 10px;
  background: #291f23;
  position: absolute;
  top: 47px;
  left: 15px;
  border-top: 2px solid #a7c034;
  color: #ffffff;
  display: none;
}
html body #site #header #header-top #login_form .login-password-input {
  margin-top: 10px;
}
html body #site #header #header-top #login_form .forgot-password-link {
  line-height: 30px;
}
html body #site #header #header-top #login_form .remember-me-box {
  margin: 5px 0px;
}
html body #site #header #header-top #login_form #login_error {
  background: #ffffff;
  color: #2b2b2b;
  border: solid 1px #BBBBBB;
  border-radius: 5px;
  padding: 10px;
  top: 102%;
  position: absolute;
}
html body #site #header #header-top #login_form #login_error:after,
html body #site #header #header-top #login_form #login_error:before {
  bottom: 100%;
  left: 15%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
html body #site #header #header-top #login_form #login_error:after {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}
html body #site #header #header-top #login_form #login_error:before {
  border-color: rgba(136,132,124,0);
  border-bottom-color: #88847c;
  border-width: 11px;
  margin-left: -11px;
}
html body #site #header #header-top #favorite_list {
  display: none;
  padding: 20px 10px;
  background: #291f23;
  position: absolute;
  top: 47px;
  left: 15px;
  border-top: 2px solid #a7c034;
  color: #ffffff;
}
html body #site #header #header-top #favorite_list h2 {
  margin-top: 0px;
}
@media screen and (max-width: 768px) {
  html body #site #header #header-top #user-navigation {
    text-align: center;
    padding-bottom: 10px;
  }
  html body #site #header #header-top .col-md-5 {
    text-align: center;
  }
  html body #site #header #header-top .social,
  html body #site #header #header-top #search-form,
  html body #site #header #header-top .creditcards {
    float: none !important;
  }
}
html body #site #header #header-bottom {
  padding: 10px 0px;
  background: #000000;
}
html body #site #header #header-bottom ul#main-menu {
  margin-bottom: 0px;
}
html body #site #header #header-bottom ul#main-menu li {
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  line-height: 40px;
  margin: 0px 0px 0px 35px;
}
@media screen and (max-width: 768px) {
  html body #site #header #header-bottom ul#main-menu li {
    margin: 0 0 0 10px;
  }
}
html body #site #header #logo {
  float: left;
}
html body #site.is-front #welcome {
  padding: 15px 0;
  color: #ffffff;
  text-align: center;
}
html body #site.is-front #welcome .welcome-image {
  margin-top: 30px;
}
html body #site.is-front #welcome h1 {
  font-size: 46px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
html body #site.is-front #welcome p {
  font-size: 24px;
  font-weight: 300;
}
@media screen and (max-width: 960px) {
  html body #site.is-front #welcome {
    color: #ff6600;
  }
}
html body #site.is-front #page div.frontpage_auction_teaser {
  cursor: pointer;
  padding-top: 20px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.product {
  background-color: #FFFFFF;
  min-height: 525px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.title {
  background-color: #cc5200;
  height: 70px;
  line-height: 25px;
  vertical-align: middle;
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 24px;
  overflow: hidden;
}
html body #site.is-front #page div.frontpage_auction_teaser div.closes {
  background-color: #444444;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  color: #FFFFFF;
  padding: 0px 20px;
  font-size: 18px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.auction_count {
  background-color: #EAEAEA;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  color: #494949;
  padding: 0px 20px;
  font-weight: bold;
  font-size: 16px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.auction_content {
  padding: 20px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.bid-now {
  padding-top: 20px;
}
html body #site.is-front #page div.frontpage_auction_teaser div.bid-now a.button {
  color: #FFFFFF;
  font-size: 30px;
  width: 180px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-transform: uppercase;
}
html body #site.not-front #page {
  background: #ffffff;
  margin-top: 25px;
  padding: 30px;
  border: 1px solid #ececec;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
html body #site #auction-ends-in {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background: #a7c034;
  border-color: #738424;
  font-weight: 600;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  padding: 8px;
  z-index: 9;
}
html body #site #page {
  margin-bottom: 20px;
}
html body #site #page .pages {
  width: 100%;
  display: block;
  margin: 30px 0px;
}
html body #site #page .pages a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #2b2b2b;
  padding: 10px 15px;
  box-sizing: border-box;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ececec;
  font-size: 12px;
}
html body #site #page .pages a:hover {
  border: 1px solid #bababa;
}
html body #site #page .pages a:last-child {
  margin-right: 0px;
}
html body #site #page .pages a.active-page {
  background: #c8ccce;
  color: #FFF;
}
@media screen and (max-width: 768px) {
  html body #site #page h1 {
    font-size: 20px;
  }
  html body #site #page .page-catalog h3 {
    line-height: 24px;
  }
}
html body #site #page .page-catalog img {
  max-width: 100%;
  height: auto;
}
html body #site #page .page-catalog .product-holder {
  margin-bottom: 30px;
}
html body #site #page .page-catalog .product-holder .product {
  border: 1px solid #ececec;
  padding: 30px;
  background: #ffffff;
  height: 600px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}
html body #site #page .page-catalog .product-holder .product:hover {
  border: 1px solid #bababa;
}
html body #site #page .page-catalog .product-holder .product .infoline {
  font-size: 20px;
  font-weight: 600;
  margin-top: 18px;
}
html body #site #page .page-catalog .product-holder .product .infoline .icon {
  width: 45px;
  float: left;
}
html body #site #page .page-catalog .product-holder .product .infoline .icon i {
  font-size: 30px;
  float: left;
}
html body #site #page .page-catalog .product-holder .product .infoline .text {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  margin-top: 5px;
  padding-left: 45px;
  height: 100px;
  overflow: hidden;
}
html body #site #page .page-catalog .product-holder .product .infoline .euro {
  margin-left: 45px;
  font-size: 15px;
}
html body #site #page .page-catalog .product-holder .product .infoline .euro i {
  padding-right: 5px;
}
html body #site #page .page-catalog .product-holder .product .bid-now {
  margin-top: 10px;
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0%;
}
html body #site #page .page-catalog .product-holder .product .button {
  font-weight: 600;
}
html body #site #page .page-catalog .product-holder .product .num-pics {
  color: #2b2b2b;
  width: 25px;
  height: 25px;
  background: #ff8533;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 25px;
  text-align: center;
  font-size: 12px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}
@media screen and (max-width: 768px) {
  html body #site #page .page-catalog .product-holder .product {
    height: 100%;
  }
  html body #site #page .page-catalog .product-holder .product .bid-now {
    position: relative;
    bottom: 0px;
    margin: 15px 0;
  }
}
html body #site #page .page-product .product-sidebar {
  padding: 15px;
  border: 1px solid #ECECEC;
}
html body #site #footer {
  position: absolute;
  bottom: 0px;
  height: 60px;
  width: 100%;
}
html body #site #footer .footer-top {
  background: #343434;
  text-align: center;
}
html body #site #footer .footer-top a {
  line-height: 30px;
  color: #ffffff;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ffffff;
  text-transform: uppercase;
}
html body #site #footer .footer-top a:last-child {
  margin-right: 0px;
  padding-right: 0px;
  border-right: none;
}
html body #site #footer .footer-top #translate-this {
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -9px;
}
@media screen and (max-width: 768px) {
  html body #site #footer .footer-top #translate-this {
    position: relative;
    margin: 10px 0;
  }
}
html body #site #footer .footer-bottom {
  background-color: #2b2b2b;
  line-height: 30px;
  color: #bababa;
  padding-bottom: 10px;
}
html #bid-login {
  position: absolute;
  z-index: 1000;
  top: 47px;
  left: 15px;
  border-top: 2px solid #a7c034;
  color: #ffffff;
  display: none;
}
html #bid-login h2 {
  margin-top: 0px;
  font-size: 18px;
}
html #bid-login ul {
  overflow: auto;
}
html #bid-login ul li {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 0px;
  line-height: 26px;
}
html #bid-login ul li.register a {
  color: #FFF;
}
html #bid-login label {
  width: 110px;
  margin-right: 5px;
}
html #bid-login input[type="text"],
html #bid-login input[type="password"] {
  width: calc(100% - 115px);
}
html #bid-login #bid-login-button,
html #bid-login .remember-me-box {
  margin-left: 116px;
}
html #bid-login #bid-login-button {
  margin-top: 15px;
}
html #bid-login #bid-login-button .forgot-password-link {
  margin-left: 5px;
}
html #bid-login #bid-login-inner {
  padding: 20px 10px;
  background: #291f23;
  position: relative;
  z-index: 1000;
}
html #bid-login #bid_login_status {
  position: absolute;
  z-index: 500;
  height: 30px;
  bottom: -30px;
  left: 0px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
html #bid-login #bid_login_status a {
  display: block;
  color: #FFF;
}
html #bid-login #bid_login_status.has-info {
  background: #718200;
}
html #bid-login #bid_login_status.has-error {
  background: #f44336;
}
#active-auctions-popup {
  background: #FFF;
  padding: 15px;
  text-align: center;
}
#active-auctions-popup .button {
  margin: 10px 0;
  padding: 15px 10px;
  height: initial;
}
#active-auctions-popup .button:hover {
  cursor: pointer;
}
#active-auctions-popup h3 {
  margin-top: 0px;
}
#my_bids {
  position: fixed;
  top: 120px;
  right: 10px;
  padding: 20px;
  background: white;
  border: 1px solid #ececec;
  border-radius: 3px;
  max-height: 300px;
  overflow: scroll;
}
#my_bids table {
  margin: 0;
}
#my_bids td {
  border: none;
  padding: 4px;
}
.frontpage_auction_teaser .closed {
  color: red;
  position: absolute;
  top: 80px;
  left: 45px;
  transform: rotate(25deg);
  font-weight: bold;
  font-size: 45px;
}
.product-holder .ends-in {
  position: absolute;
  bottom: 0;
  left: 0;
}
.ends-in {
  color: white;
  text-align: center;
}
.ends-in .time-container {
  display: inline-block;
  width: 45px;
  padding: 5px;
  background-color: rgba(0,0,0,0.7);
}
.ends-in .label {
  font-weight: 100;
  opacity: .7;
  display: block;
  padding: 0px;
}
#admin-menu {
  text-align: center;
}
#admin-menu ul {
  display: inline-table;
}
.page-product .ends-in .time-container {
  width: 90px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1400px) {
  #my_bids {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .frontpage_auction_teaser .closed {
    top: 60px;
    left: 5px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .frontpage_auction_teaser .ends-in,
  .product-holder .ends-in,
  #bid_container .ends-in {
    font-size: 10px !important;
  }
  .frontpage_auction_teaser .ends-in .time-container,
  .product-holder .ends-in .time-container,
  #bid_container .ends-in .time-container {
    width: 30px;
    padding: 3px;
  }
  .frontpage_auction_teaser .closed {
    top: 45px;
    font-size: 32px;
  }
}
.video-link-wrapper {
  max-width: 100%;
  width: 800px;
  height: 600px;
  display: block;
  position: relative;
  margin: 0 auto;
}
.video-link-wrapper a#video-link {
  position: relative;
  top: calc(50% - 33px);
  margin: 0 auto;
  padding: 15px 30px;
  height: auto;
  width: auto;
  line-height: normal;
  font-size: 25px;
  color: #FFF !important;
  display: block;
  max-width: 320px;
  text-align: center;
  margin-top: 65px;
}
.video-link-wrapper a#video-link i.fa {
  font-size: 45px;
  position: absolute;
  left: 30px;
  top: 9px;
}
@media screen and (max-width: 768px) {
  .video-link-wrapper {
    height: 300px;
  }
}
