*{
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
 }
.head{
	background-color: #0c72ea;
	height: 50px;
}
.header{
	width: 80%;
	margin: auto;
	display: flex;
}
.left{
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;

}
.left a:hover{
	color: white;
}
.right{
	width: 50%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right i{
	display: block;
	color:white;
	font-size: 25px;
}

.right input{
	height: 25px;
	width: 50%;
}
.right a{
	display: block;
	text-decoration: none;
}
.left a{
	text-decoration: none;
	height: 35px;
	background-color: #30c570;
	display: block;
	width: 100px;
	border-radius: 10px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.two{
	margin-left: 20px;

}
.menu{
	background-color: #ed3237;
	height: 70px;
}
.navbar{
	width: 80%;
	margin: auto;
	display: flex;
}
.logo{
	width: 50%;
	height: 50px;
	display: flex;
	align-items: center;
}
.logo img {
	 width: 20%;
    height: 56px;
}
.nav{
	width: 50%;
	height: 50px;
	display: flex;
	
}
#men{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: auto;
}

.item a{
	display: block;
	text-decoration: none;
	color: white;
}
.content{
	/*background-image: url(../img/bg.jpg);*/
	height: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
}
h1{
	font-size: 46px;
	padding:  25px 0;
	font-weight: bold;
}
h2{
	font-size: 24px;
	padding-bottom:50px;	
}
.cardd{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.one{
	width: 32%;
	margin-top: 25px;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px;
	line-height: 35px;
}
.box1{
	background-color: #ed3237;
	border-radius: 20px 20px 0 0;
}
.box2{
	background-color: #0c72ea;
}
.box3{
	background-color: #30c570;
}
.box4{
	width: 80%;
	margin: auto;
	padding:20px 0;
}
.box4 img{
	width: 100%;
}
.box5{
	margin: 20px 0;
}

h5{
	color: black;
	font-size: 16px;
}
h4{
	color: white;
	font-size: 18px;	
}
h3{
	color: white;
	font-size: 24px;
}
.one a{
	text-decoration: none;
	font-size: 24px;
	color: black;
	width: 155px;
	height: 50px;
	background-color: #0c72ea;
	display: block;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px #ccc;
}
.one a:hover{
	color: white;
}
.footer{
	padding-top: 50px;
	text-align: center;
}
.bot{
	padding: 20px;

}
.mein{
	background: #ed3237;
}
.line{
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	border-right: 2px solid white;
	padding: 0 10px 0 8px;

}
.bot a {
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
	padding: 0 10px 0 8px;
	color: white;
}
.info{
	background:#0c72ea;
}
.info p{
	line-height: 55px;
	color: #bababa;
	margin-bottom: 0;
}
.left img{
	display: none;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 3px 5px 10px 4px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content a{
	height: 50px;
	text-decoration: none;
	background-color: #cc5200;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	text-transform: uppercase;
	width: 90%;
}
.modal-content a:hover{
	color: white;
}
.row{
	margin-top: 20px;
	justify-content: space-between;
}

/*--------------------------------------*/
              /*Contact*/

 .contact{
 	width: 80%;
 	height: 100%;
	margin: auto;
	background-color: white;
	border-radius: 20px;
	border: 1px solid black;
	margin-top: 25px;
 }  
 .contact img{
 	width: 100px;
 	height: 50px;
 	padding-left: 20px;
 	margin: 20px 0;
 } 
 .contact p{
    margin-bottom: 20px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: 700;
 }  
 .contact h2{
 	font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #ff6600;
    padding-left: 20px;
 }  
 .contact span{
 	margin-bottom: 20px;
 	font-weight: 700;
 	font-size: medium;
    padding-left: 20px;
    display: block;
 }   

 /*--------------------------------------*/
              /*Info*/
 .contact strong{
 	display: block;
    margin: 20px 0;
    font-size: 18px;
    padding-left: 20px;
    font-weight: 700;
 }  
 .contact em{
 	display: block;
 	font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    font-weight: 700;
 }  
 .contact ol{
    margin-left: 30px;
 }    
 .contact li{
 	line-height: 2;
 	margin-bottom: 25px;
 }   
 .content1{
 	min-height: 60vh;
 }   





@media (max-width: 860px) {
  	h5{
	color: black;
	font-size: 12px;
	}
	h4{
	color: white;
	font-size: 14px;	
	}
	h3{
	color: white;
	font-size: 18px;
	}
	.one a{
	width: 120px;
	height: 50px;
	}
	.box5{
	margin: 0 0 20px 0;
	}
	.box4{
	padding:10px 0;
	}
	.cardd{
		width: 98%;
	}
}
@media (max-width: 760px) {
	.logo{
		width: 30%;
	}
	.logo img{
		width: 100%;
	}
	.nav{
		width: 70%;
	}
	.modal-content a{
	font-size: 16px;
	}
}
@media (max-width: 660px) {
	h2{
		font-size: 20px;
		padding-bottom:25px;	
	}
	.one{
		width: 49%;
	}
	.cardd{
		width: 98%;
	}
	.logo{
		width: 30%;
	}
	.nav{
		width: 70%;
	}
	h1{
		font-size: 30px;
	}
	.modal-content a{
	font-size: 14px;
	}
	
}


@media (max-width: 560px) {
	.head{
		height: 100px;
	}
	.header{
		display: block;
	}
	.left{
		margin: auto;
		display: flex;
		justify-content: space-between;
		width: 90%;
	}
	.right{
		margin: auto;
		width: 90%;
	}
	h2{
		font-size: 20px;
		padding-bottom:0;	
	}
	.logo{
		display: none;
	}
	.nav{
	width: 90%;
	}
	.left img{
		display: block;
		width: 30%;
	}
	.two{
		margin-left: 0;
	}
	
}
