*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}
.head{
    background-color: #0c72ea;
    height: 50px;
}
.header{
    width: 80%;
    margin: auto;
    display: flex;
}
.head-left{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;

}
.head-left a:hover{
    color: white;
}
.head-right{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-right i{
    display: block;
    color:white;
    font-size: 25px;
}

.head-right input{
    height: 25px;
    width: 50%;
}
.head-right a{
    display: block;
    text-decoration: none;
}
.head-left a{
    text-decoration: none;
    height: 35px;
    background-color: #30c570;
    display: block;
    width: 100px;
    border-radius: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.two{
    margin-head-left: 20px;

}
.menu{
    background-color: #ed3237;
    height: 70px;
}
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
}
.logo{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
}
.logo img {
    width: 20%;
    height: 56px;
}
.nav{
    width: 50%;
    height: 50px;
    display: flex;

}
#men{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.item a{
    display: block;
    text-decoration: none;
    color: white;
}
.content{
    /*background-image: url(../img/bg.jpg);*/
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    font-size: 46px;
    padding:  25px 0;
    font-weight: bold;
}
h2{
    font-size: 24px;
    padding-bottom:50px;
}
.cardd{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.group-pagination{
    margin-top: 39px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.one{
    width: 32%;
    margin-top: 25px;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px;
    line-height: 35px;
}
.box1{
    background-color: #ed3237;
    border-radius: 20px 20px 0 0;
}
.box2{
    background-color: #0c72ea;
}
.box3{
    background-color: #30c570;
}
.box4{
    width: 80%;
    margin: auto;
    padding:20px 0;
    padding-bottom: 0px;
}
.box4 img{
    width: 100%;
}
.box5{
    margin: 20px 0;
}

h5{
    color: black;
    font-size: 16px;
}
h4{
    color: white;
    font-size: 18px;
}
h3{
    color: white;
    font-size: 24px;
}
.one .see-all{
    text-decoration: none;
    font-size: 24px;
    color: white;
    width: 205px;
    height: 50px;
    background-color: #0c72ea;
    display: block;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.group-url:hover{
    text-decoration: none;
}

.one a:hover{
    color: white;
}
.footer{
    padding-top: 50px;
    text-align: center;
}
.bot{
    padding: 20px;

}
.mein{
    background: #ed3237;
}
.line{
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    border-right: 2px solid white;
    padding: 0 10px 0 8px;

}
.bot a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 10px 0 8px;
    color: white;
}
.info{
    background:#0c72ea;
}
.info p{
    line-height: 55px;
    color: #bababa;
    margin-bottom: 0;
}
.head-left .forlogo{
    display: none;
}


.row{
    margin-top: 20px;
    justify-content: space-between;
}

/*--------------------------------------*/
/*Contact*/

.contact{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 25px;
}
.contact img{
    width: 100px;
    height: 50px;
    padding-head-left: 20px;
    margin: 20px 0;
}
.contact p{
    margin-bottom: 20px;
    font-size: 14px;
    padding-head-left: 20px;
    font-weight: 700;
}
.contact h2{
    font-size: 24px;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #ff6600;
    padding-head-left: 20px;
}
.contact span{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: medium;
    padding-head-left: 20px;
    display: block;
}

/*--------------------------------------*/
/*Info*/
.contact strong{
    display: block;
    margin: 20px 0;
    font-size: 18px;
    padding-head-left: 20px;
    font-weight: 700;
}
.contact em{
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-head-left: 20px;
    font-weight: 700;
}
.contact ol{
    margin-head-left: 30px;
}
.contact li{
    line-height: 2;
    margin-bottom: 25px;
}
.content1{
    min-height: 60vh;
}


.modal-register-button .fas.fa-plus{
    padding-right: 3px;
}

#openEnter,#openReg{
    color: white;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

#openEnter .fas.fa-unlock{
    padding-right: 5px;
}

@media (min-width: 1200px) {
    .modal-register-button{
        margin-left: 20px;
        /* padding-left: 20px; */
        min-width: 140px;
    }

    #openEnter{
        min-width: 140px;
    }
}



@media (max-width: 860px) {
    h5{
        color: black;
        font-size: 12px;
    }
    h4{
        color: white;
        font-size: 14px;
    }
    h3{
        color: white;
        font-size: 18px;
    }
    .one a{
        width: 120px;
        height: 50px;
    }
    .box5{
        margin: 0 0 20px 0;
    }
    .box4{
        padding:10px 0;
    }
    .cardd{
        width: 100%;
    }
}
@media (max-width: 760px) {
    .logo{
        width: 30%;
    }
    .logo img{
        width: 100%;
    }
    .nav{
        width: 70%;
    }
}
@media (max-width: 660px) {
    h2{
        font-size: 20px;
        padding-bottom:25px;
    }
    .one{
        width: 49%;
    }

    .logo{
        width: 30%;
    }
    .nav{
        width: 70%;
    }
    h1{
        font-size: 30px;
    }
}



@media (max-width: 560px) {
    .head{
        height: 100px;
    }
    .header{
        display: block;
    }
    .head-left{
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .head-right{
        margin: auto;
        width: 90%;
    }
    h2{
        font-size: 20px;
        padding-bottom:0;
    }
    .logo{
        display: none;
    }
    .nav{
        width: 90%;
    }
    .head-left .forlogo{
        display: block;
        width: 30%;
    }
    .two{
        margin-head-left: 0;
    }

}


.group-catalog-title h3{
    padding: 10px;
}


.group-catalog-image img{
    max-height: 233px;
}


.product-title h3{
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group-catalog-h1,.group-catalog-h2,.group-catalog-title h3{
    text-align: center;
}

.box2 h4,.box3 h5{
    padding: 6px;
    text-align: center;
}


.box4.group-catalog-image{
    position: relative;
}


.ends-in .label {
    font-weight: 100;
    opacity: .7;
    display: block;
    padding: 0px;
}

div.time-container {
    float: left;
    margin-right: 5px;
    min-width: 52px;
}

.time-container .text-time{
    max-height: 19px;
}

.product-view .time-container .text-time{
    max-height: initial;
}

.product-view .ends-in .time-container {
    width: 61px;
    min-height: 56px;
}

.time-container{
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.ends-in .time-container {
    width: 45px;
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    color: white;
}
.ends-in {
    left: 0;
    bottom: 0;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.removed_item{
    color: red;
    position: absolute;
    top: 80px;
    left: 45px;
    transform: rotate(25deg);
    font-weight: bold;
    font-size: 45px;
}

.modal-title{
    color: red;
}

.col-md-4.catalog-modal-group a {
    background: #67b789;
    padding: 7px;
    border-radius: 6px;
    color: white;
}

.col-md-4.catalog-modal-group a:hover{
    background: #3b885c;
}
.infoline .icon{
    color: #ed3237;
    float: left;
    padding-right: 15px;
    font-size: 24px;
}

.infoline{
    color: #2f2f2f;
     font-size: 20px;
    margin-top: 20px;
}

.infoline .text{
    font-size: 17px;
    margin-left: 40px;
}

.group-catalog-image2 img{
    max-height: 400px;
    margin: 0 auto;
}

.make-bet{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.make-bet .fa-plus{
    margin-right: 5px;
}

.product-view .offered{
    text-align: center;
    font-size: 21px;
}

input#mobile-number.error {
    border: 1px solid #af6b6b;
}

.intl-tel-input.allow-dropdown {
    width: 100%;
}

.make-bet{
    margin-top: 20px;
}