.contacts-table
  span
    &:hover
      position: relative
      &:after
        content: ''
        top: 100%
        left: 0
        width: 100%
        border-bottom: 1px dotted #7f7f7f
        position: absolute

.contract-price-item
  margin-bottom: 15px
  label
    display: inline-block

.contract-price-btc
  span
    font-size: 1.1rem

.contract-total
  span
    font-size: 1.3rem
    margin-left: 5px

@media only screen and (max-width: 378px)
  .contract-price-btc
    span
      display: block