.dashboard-wallet-menu
  .founds
    position: relative
    margin-top: 30px
    margin-bottom: 45px
    z-index: 2
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 377px
      height: 100%
      margin-left: -80px
      z-index: 1
      background: #b4d482
      opacity: .1
  .contracts-balance
    .left-bl-text
      text-align: left
      margin-bottom: 50px

.dashboard-wallet-menu2
  .founds
    position: relative
    margin-top: 30px
    z-index: 2
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 200%
      height: 100%
      margin-left: -30px
      z-index: 1
      background: #b4d482
      opacity: .1
  .contracts-balance
    .left-bl-text
      text-align: left
      margin-top: 45px
      margin-bottom: -15px

@media only screen and (max-width: 1680px)
  .dashboard-wallet-menu
    .founds
      &:before
        width: 340px