.faq-page
  .menu
    margin-bottom: 50px
    ul
      text-align: left
      li
        cursor: pointer
        font-size: 15px
        color: #7f8e93
        position: relative
        &::after
          position: absolute
          content: ""
          left: 0
          bottom: -8px
          width: 0
          transition: .3s
          border-bottom: 1px solid #e4c158
        &:hover
          &::after
            width: 100%
        &.active
          color: #353e41
          &::after
            width: 100%

  .questions-list
    .question-item
      margin-bottom: 25px
      .question
        font-size: 15px
        font-weight: bold
        margin-bottom: 15px
      .answer
        color: #7f8e93
        display: none
        transition: all .5s
        p
          font-size: 14px
          color: #7f8e93
        &.active
          display: block

@media only screen and (max-width: 992px)
  .faq-page
    .menu
      position: relative
      li
        margin: 0 10px 20px 0

