.alertify-logs
  z-index: 1000000
  max-width: 25%
  .show
    outline: 0
    padding-left: 30px
    padding-right: 30px
    cursor: pointer
  .success
    border: 3px solid #00961b
  .error
    border: 3px solid #960307
  .default
    border: 3px solid #246f96
    background: #2da3dc

@media only screen and (max-width : 960px)
  .alertify-logs
    max-width: 50%