.transfer-page
  max-width: 1100px

  .dollar-amount
    position: absolute
    width: 150px

.calculator
  padding: 30px 50px
  background: #E2E2E2
  border-radius: 4px
  min-width: 450px
  color: #242829

  .row
    margin-bottom: 20px
    padding: 15px 0
    position: relative
    &:last-of-type
      margin-bottom: 0
    &:after
      content: ''
      width: 92%
      position: absolute
      left: 4%
      top: 100%
      height: 1px
      margin-top: 10px

    .text-left
      min-width: 150px

  .wallet-balance-block,
  .transfer-commission-block
    &:after
      background: #CFCFCF

  .transfer-amount-block
    margin-bottom: 10px
    padding-bottom: 0

  .total-amount-block
    .text-right
      font-size: 1.3em

@media only screen and (max-width: 1380px)
  .calculator
    min-width: 405px

@media only screen and (max-width: 1360px)
  .funds.push-right
    float: left
    width: 100%

  .calculator
    width: 100%

@media only screen and (max-width: 768px)
  .transfer-page
    .dollar-amount
      position: relative
    [name='address']
      margin-bottom: 30px

  .funds.push-right
    width: 100%

  .calculator
    min-width: 320px
    .row
      .text-left
        min-width: initial

@media only screen and (max-width: 575px)
  .calculator
    .row
      .text-left, .text-right
        text-align: center!important